@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,300,300italic|Roboto:400,700,500,300,300italic,700italic,400italic,500italic);
html, body {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background: #eaedf1;
}

h1, .h1 {
    font-size: 31px;
}

h2, .h2 {
    font-size: 25px;
}

h3, .h3 {
    font-size: 21px;
}

h4, .h4 {
    font-size: 15px;
}

h5, .h5 {
    font-size: 12px;
}

h6, .h6 {
    font-size: 11px;
}

.wrapper {
    height: 100%;
}

#wrapper {
    position: relative;
    -webkit-backface-visibility: hidden;
    margin: 0 auto;
    overflow: hidden;
}

#wrapper .isLoading {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#wrapper .isLoading.isHidden {
    display: none;
}

#wrapper .isLoading:after {
    font-family: "FontAwesome";
    font-size: 50px;
    content: "\F021";
    position: absolute;
    margin: 30% 54.5%;
    color: #fff;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

#wrapper #sidebar-default {
    left: 0;
    top: 0;
    background: #2a313a;
    border-right: 1px solid #3c434d;
    position: fixed;
    width: 230px;
    z-index: 1234;
    height: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

@media (min-width: 100px) and (max-width: 991px) {
    #wrapper #sidebar-default {
        width: 50px;
    }
}
#wrapper #sidebar-default.whitelabel .header-seperation {
    background-color: #fff;
}

#wrapper #sidebar-default.whitelabel .header-seperation a.logo {
    margin: 0;
    float: none;
}

#wrapper #sidebar-default.whitelabel .header-seperation a.logo > img {
    max-width: 100px;
    padding: 5px;
    margin-left: 10px;
}

#wrapper #sidebar-default.whitelabel .header-seperation i#toggle-sidebar {
    color: #222;
}

#wrapper #sidebar-default.whitelabel .header-seperation i#toggle-sidebar:hover {
    color: #fff;
}

#wrapper #sidebar-default.mini-sidebar {
    width: 50px;
}

#wrapper #sidebar-default.mini-sidebar .bottom-menu {
    display: none;
}

#wrapper #sidebar-default.mini-sidebar .menu-section ul li {
    position: relative;
}

#wrapper #sidebar-default.mini-sidebar .menu-section ul li a {
    padding: 12px 0 15px 13px;
    position: relative;
    padding-left: 0;
    text-align: center;
}

#wrapper #sidebar-default.mini-sidebar .menu-section ul li a:hover + .submenu {
    visibility: visible;
    opacity: 1;
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

#wrapper #sidebar-default.mini-sidebar .menu-section ul li a i {
    top: 3px;
    font-size: 16px;
    margin: 0;
}

#wrapper #sidebar-default.mini-sidebar .menu-section ul li a i.fa-chevron-down {
    display: none;
}

#wrapper #sidebar-default.mini-sidebar .menu-section ul li a span {
    display: none;
}

#wrapper #sidebar-default.mini-sidebar .menu-section ul li > .submenu {
    background: #2a313a;
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    min-width: 185px;
    top: 0;
    left: 50px;
    padding-bottom: 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09);
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

#wrapper #sidebar-default.mini-sidebar .menu-section ul li > .submenu:hover {
    opacity: 1;
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
}

#wrapper #sidebar-default.mini-sidebar .menu-section ul li > .submenu li a {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}

#wrapper #sidebar-default.mini-sidebar .menu-section ul li > .submenu li a span {
    display: block;
}

#wrapper #sidebar-default.mini-sidebar .menu-section ul li > .submenu li > .submenu {
    display: block;
    position: absolute;
    top: 0;
    left: 185px;
}

#wrapper #sidebar-default.mini-sidebar .menu-section ul li > .submenu li > .submenu li a {
    padding-left: 10px;
}

#wrapper #sidebar-default .header-seperation {
    width: 230px;
    height: 50px;
    display: block;
    background: #379bd2;
    margin: 0;
}

#wrapper #sidebar-default .header-seperation a.logo {
    margin: 12px 22px;
    float: left;
    width: 105px;
    height: 25px;
    background-image: url("/bundles/pointerfrontend/images/pointer-logo-white.png");
    background-repeat: no-repeat;
}

#wrapper #sidebar-default .header-seperation i#toggle-sidebar {
    float: right;
    color: #fff;
    padding: 18px 20px;
}

#wrapper #sidebar-default .header-seperation i#toggle-sidebar:hover {
    background-color: #222;
}

@media (min-width: 100px) and (max-width: 991px) {
    #wrapper #sidebar-default .header-seperation {
        width: 50px;
    }

    #wrapper #sidebar-default .header-seperation a.logo {
        width: 25px;
        margin: 12px 13px;
    }

    #wrapper #sidebar-default .header-seperation i#toggle-sidebar {
        display: none;
    }
}
#wrapper #sidebar-default .menu-section ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

@media (min-width: 100px) and (max-width: 991px) {
    #wrapper #sidebar-default .menu-section ul li {
        position: relative;
    }
}
#wrapper #sidebar-default .menu-section ul li a {
    color: #e2e2e2;
    font-weight: 400;
    font-size: 14px;
    box-shadow: inset 0 1px #414852;
    padding: 12px 0 15px 23px;
    background: #1b1e24;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    -webkit-transition: background .13s linear;
    -o-transition: background .13s linear;
    transition: background .13s linear;
}

@media (min-width: 100px) and (max-width: 991px) {
    #wrapper #sidebar-default .menu-section ul li a {
        position: relative;
        padding-left: 0;
        text-align: center;
    }

    #wrapper #sidebar-default .menu-section ul li a:hover + .submenu {
        visibility: visible;
        opacity: 1;
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
#wrapper #sidebar-default .menu-section ul li a.active, #wrapper #sidebar-default .menu-section ul li a:hover, #wrapper #sidebar-default .menu-section ul li a.toggled {
    background: #3c424c;
}

#wrapper #sidebar-default .menu-section ul li a i {
    min-width: 17px;
    font-size: 19px;
    margin-right: 9px;
    position: relative;
    top: 1px;
}

@media (min-width: 100px) and (max-width: 991px) {
    #wrapper #sidebar-default .menu-section ul li a i {
        top: 3px;
        font-size: 16px;
        margin: 0;
    }

    #wrapper #sidebar-default .menu-section ul li a i.fa-chevron-down {
        display: none;
    }
}
#wrapper #sidebar-default .menu-section ul li a i.fa-chevron-down {
    float: right;
    font-size: 11px;
    top: 7px;
    right: 11px;
}

@media (min-width: 100px) and (max-width: 991px) {
    #wrapper #sidebar-default .menu-section ul li a span {
        display: none;
    }
}
#wrapper #sidebar-default .menu-section ul li > .submenu {
    display: none;
    position: relative;
    margin-top: 0;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
}

@media (min-width: 100px) and (max-width: 991px) {
    #wrapper #sidebar-default .menu-section ul li > .submenu {
        background: #2a313a;
        position: absolute;
        display: block;
        visibility: hidden;
        opacity: 0;
        -moz-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        min-width: 185px;
        top: 0;
        left: 50px;
        padding-bottom: 0;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09);
        -webkit-transition: all .15s ease-in;
        -o-transition: all .15s ease-in;
        transition: all .15s ease-in;
    }

    #wrapper #sidebar-default .menu-section ul li > .submenu:hover {
        opacity: 1;
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
        visibility: visible;
    }
}
#wrapper #sidebar-default .menu-section ul li > .submenu.active {
    display: block;
}

#wrapper #sidebar-default .menu-section ul li > .submenu li a {
    padding: 12px 0 12px 52px;
    font-size: 14px;
}

@media (min-width: 100px) and (max-width: 991px) {
    #wrapper #sidebar-default .menu-section ul li > .submenu li a {
        padding-left: 15px;
        padding-right: 15px;
        text-align: left;
    }
}
#wrapper #sidebar-default .menu-section ul li > .submenu li a.active {
    background: #232830;
    box-shadow: none;
}

@media (min-width: 100px) and (max-width: 991px) {
    #wrapper #sidebar-default .menu-section ul li > .submenu li a span {
        display: block;
    }
}
#wrapper #sidebar-default .menu-section ul li > .submenu li > .submenu {
    display: none;
    position: relative;
    border-bottom: 0;
    box-shadow: none;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
}

@media (min-width: 100px) and (max-width: 991px) {
    #wrapper #sidebar-default .menu-section ul li > .submenu li > .submenu {
        display: block;
        position: absolute;
        top: 0;
        left: 185px;
    }
}
#wrapper #sidebar-default .menu-section ul li > .submenu li > .submenu.active {
    display: block;
}

#wrapper #sidebar-default .menu-section ul li > .submenu li > .submenu li a {
    padding-left: 75px;
}

@media (min-width: 100px) and (max-width: 991px) {
    #wrapper #sidebar-default .menu-section ul li > .submenu li > .submenu li a {
        padding-left: 10px;
    }
}
#wrapper #sidebar-default .bottom-menu {
    position: fixed;
    bottom: 0;
    width: 230px;
    z-index: 999;
}

#wrapper #sidebar-default .bottom-menu > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#wrapper #sidebar-default .bottom-menu > ul > li {
    float: left;
    display: block;
    width: 50%;
    border-right: 1px solid #3e4e55;
    border-top: 1px solid #3e4e55;
}

#wrapper #sidebar-default .bottom-menu > ul > li:last-child {
    border-right: 0;
}

#wrapper #sidebar-default .bottom-menu > ul > li > a {
    display: block;
    position: relative;
    text-align: center;
    padding: 6px 0;
    background: #333d4b;
}

#wrapper #sidebar-default .bottom-menu > ul > li > a:hover i {
    color: #89a2bb;
}

#wrapper #sidebar-default .bottom-menu > ul > li > a:hover + .menu {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

#wrapper #sidebar-default .bottom-menu > ul > li > a i {
    color: #cbd3db;
    font-size: 19px;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

#wrapper .navbar-fixed-top {
    background: #fff;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
    margin: 0;
    height: 50px;
    overflow: hidden;
    position: fixed;
    padding-left: 230px;
}

#wrapper .navbar-fixed-top .logo {
    display: block;
    margin: 12px 0 0 20px;
}

#wrapper .navbar-fixed-top .breadcrumb {
    padding: 17px;
    margin: 0;
    background: #fff;
}

#wrapper .navbar-fixed-top .breadcrumb li a:hover {
    text-decoration: none;
    color: #444;
}

#wrapper .navbar-fixed-top .breadcrumb li.active {
    color: #444;
}

@media (min-width: 100px) and (max-width: 991px) {
    #wrapper .navbar-fixed-top {
        padding-left: 50px;
    }

    #wrapper .navbar-fixed-top .button.toggle-side-bar {
        display: none;
    }
}
#wrapper .navbar-fixed-top .toggle-side-bar {
    color: #379bd2;
}

#wrapper .navbar-fixed-top .button {
    font-size: 15px;
    padding: 18px 20px;
    color: #d6d6d6;
    margin: 0;
    cursor: pointer;
    display: block;
    float: left;
    border-radius: 0;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

#wrapper .navbar-fixed-top .button .toggle-brand-selector .active {
    background: #1b1e24;
}

#wrapper .navbar-fixed-top .button:hover, #wrapper .navbar-fixed-top .button.active {
    background: #1b1e24;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

#wrapper .navbar-fixed-top .header-right {
    height: 50px;
}

#wrapper .navbar-fixed-top .header-right .user-details {
    display: block;
    float: left;
    line-height: 50px;
    margin: 0 20px;
    color: #666;
}

#wrapper .navbar-fixed-top .header-right img.avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 10px;
}

#wrapper #content {
    margin-left: 230px;
    padding: 10px;
    padding-top: 60px;
    position: relative;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

@media (min-width: 100px) and (max-width: 991px) {
    #wrapper #content {
        margin-left: 50px;
    }
}
#wrapper #content.mini-sidebar {
    margin-left: 50px;
}

#wrapper #content .panel {
    border-radius: 0;
}

#wrapper #content .panel.panel-search {
    position: fixed;
    width: 260px;
    height: 100%;
    overflow-y: hidden;
    border: 0;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

#wrapper #content .panel.panel-search:hover {
    padding-bottom: 40px;
    overflow-y: auto;
}

#wrapper #content .panel.panel-search:hover::-webkit-scrollbar {
    width: 6px;
}

#wrapper #content .panel.panel-search:hover::-webkit-scrollbar-track {
    background-color: #1b1e24;
}

#wrapper #content .panel.panel-search:hover::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.1);
}

#wrapper #content .panel.panel-search .panel-heading {
    text-decoration: none;
    padding: 15px;
    margin: -1px;
    border-radius: 0;
    cursor: pointer;
}

#wrapper #content .panel.panel-search .panel-heading:hover {
    background-color: #fff;
    color: #222;
}

#wrapper #content.searchbox {
    margin-left: 215px;
    padding: 0;
    padding-top: 50px;
}

@media (min-width: 100px) and (max-width: 991px) {
    #wrapper #content.searchbox {
        margin-left: 35px;
    }

    #wrapper #content.searchbox .page-content-col {
        margin: 10px 0 0 150px;
    }
}
#wrapper #content.searchbox.mini-sidebar {
    margin-left: 35px;
}

#wrapper #content.searchbox .page-content-col {
    margin: 10px 0 0 0;
    padding: 0;
}

#wrapper #content .page-content.mini-searchbox .panel.panel-search {
    width: 50px;
    z-index: 2;
}

#wrapper #content .page-content.mini-searchbox .panel .panel-title span {
    display: none;
}

#wrapper #content .page-content.mini-searchbox .panel form.search-form {
    display: none;
}

#wrapper #content .page-content.mini-searchbox .panel p {
    display: none;
}

#wrapper #content .page-content.mini-searchbox .page-content-col {
    margin-left: 60px;
}

#wrapper #content .page-content .page-content-col {
    margin-left: 270px;
}

#wrapper #content .page-content .page-content-row {
    background: #fff;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    overflow: hidden;
}

#wrapper #content .page-content .page-content-row:first-child {
    margin: 0;
}

#wrapper .right-side-bar-wrapper {
    display: none;
}

#wrapper.brand-selector .toggle-brand-selector {
    background: #1b1e24;
    color: #FFF;
    text-decoration: none;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

#wrapper.brand-selector .right-side-bar-wrapper {
    right: 0;
    top: 50px;
    border-left: 1px solid #3c434d;
    position: fixed;
    width: 300px;
    z-index: 4569;
    height: 100%;
    padding: 0;
    display: block;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

#wrapper.brand-selector .right-side-bar-wrapper .brand-selector-container {
    background-color: #1b1e24;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    padding: 10px 0 10px 10px;
    float: right;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

#wrapper.brand-selector .right-side-bar-wrapper .brand-selector-container:hover {
    overflow-y: auto;
}

#wrapper.brand-selector .right-side-bar-wrapper .brand-selector-container input.form-control {
    background: rgba(255, 255, 255, 0.1);
    border: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    color: #aaa;
}

#wrapper.brand-selector .right-side-bar-wrapper .brand-selector-container input.form-control:focus {
    background: rgba(255, 255, 255, 0.2);
    border: rgba(255, 255, 255, 0.3);
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#wrapper.brand-selector .right-side-bar-wrapper .brand-selector-container ul.brand-list {
    display: block;
    list-style: none;
    padding: 10px 0;
    margin: 15px 0 30px 0;
    color: #aaa;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#wrapper.brand-selector .right-side-bar-wrapper .brand-selector-container ul.brand-list li {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
    overflow: hidden;
}

#wrapper.brand-selector .right-side-bar-wrapper .brand-selector-container ul.brand-list li:first-child {
    margin-top: 0;
}

#wrapper.brand-selector .right-side-bar-wrapper .brand-selector-container ul.brand-list li:last-child {
    margin-bottom: 0;
}

#wrapper.brand-selector .right-side-bar-wrapper .brand-selector-container ul.brand-list li a.brand-details {
    width: 100%;
    height: 30px;
    display: block;
}

#wrapper.brand-selector .right-side-bar-wrapper .brand-selector-container ul.brand-list li a.brand-details:hover, #wrapper.brand-selector .right-side-bar-wrapper .brand-selector-container ul.brand-list li a.brand-details.active {
    background: rgba(255, 255, 255, 0.1);
}

#wrapper.brand-selector .right-side-bar-wrapper .brand-selector-container ul.brand-list li a.brand-details:hover .brand-name, #wrapper.brand-selector .right-side-bar-wrapper .brand-selector-container ul.brand-list li a.brand-details.active .brand-name {
    color: #379bd2;
}

#wrapper.brand-selector .right-side-bar-wrapper .brand-selector-container ul.brand-list li a.brand-details img.brand-logo {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 2px;
    background: white;
    margin-right: 10px;
}

#wrapper.brand-selector .right-side-bar-wrapper .brand-selector-container ul.brand-list li a.brand-details .brand-name {
    color: #fff;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    float: left;
    margin-top: 7px;
}

#wrapper.brand-selector .right-side-bar-wrapper .brand-selector-container::-webkit-scrollbar {
    width: 6px;
}

#wrapper.brand-selector .right-side-bar-wrapper .brand-selector-container::-webkit-scrollbar-track {
    background-color: #1b1e24;
}

#wrapper.brand-selector .right-side-bar-wrapper .brand-selector-container::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.1);
}

.modal-footer {
    text-align: left;
}

.modal-footer hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.has-tabs {
    margin-top: 0 !important;
}

.panel-primary {
    background-color: #379bd2;
    color: #fff;
}

.nav-tabs > li > a {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #ddd;
    color: #555;
}

.nav-tabs > li > a:hover {
    color: #379bd2;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs > li.active > a {
    color: #379bd2;
}

.nav-tabs > li.active > a:hover {
    color: #379bd2;
}

.nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover {
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-top: 0;
}

.nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
    border-radius: 0;
}

.scrollable-table {
    max-height: 400px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: 1px solid #DDD;
}

.scrollable-table::-webkit-scrollbar {
    width: 6px;
}

.scrollable-table::-webkit-scrollbar-track {
    background-color: #DDD;
}

.scrollable-table::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #379bd2;
}

.color-genuine {
    color: #fff;
    background-color: #5bb75b;
    border-color: #5bb75b;
}

.color-second-hand {
    color: #fff;
    background-color: #0d9ca8;
    border-color: #0d9ca8;
}

.color-not-relevant {
    color: #fff;
    background-color: #999;
    border-color: #999;
}

.color-offline {
    color: #fff;
    background-color: #999;
    border-color: #999;
}

.color-counterfeit {
    color: #fff;
    background-color: #da4f49;
    border-color: #da4f49;
}

.color-very-suspicious {
    color: #fff;
    background-color: #faa732;
    border-color: #faa732;
}

.color-suspicious {
    color: #fff;
    background-color: #ffa300;
    border-color: #ffa300;
}

.color-primary {
    color: #fff;
    background-color: #379bd2;
    border-color: #379bd2;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-outline {
    outline: none !important;
}

.label {
    padding: .4em .6em;
}

table.dataTable thead .sorting {
    background: url("../Resources/public/scss/libs/datatables/media/images/sort_both.png") no-repeat center right !important;
}

table.dataTable thead .sorting_asc {
    background: url("../Resources/public/scss/libs/datatables/media/images/sort_asc.png") no-repeat center right !important;
}

table.dataTable thead .sorting_desc {
    background: url("../Resources/public/scss/libs/datatables/media/images/sort_desc.png") no-repeat center right !important;
}

table.dataTable thead .sorting_asc_disabled {
    background: url("../Resources/public/scss/libs/datatables/media/images/sort_asc_disabled.png") no-repeat center right !important;
}

table.dataTable thead .sorting_desc_disabled {
    background: url("../Resources/public/scss/libs/datatables/media/images/sort_desc_disabled.png") no-repeat center right !important;
}

.has-tabs {
    border-top: 0 !important;
}

.seller-label-bg- {
    background: #eee;
    font-weight: normal;
    color: #000;
    font-style: italic;
}

.seller-label-fg-1 {
    color: #00b600;
}

.seller-label-bg-1 {
    color: #fff;
    background: #00b600;
}

.seller-label-fg-2 {
    color: #0d9ca8;
}

.seller-label-bg-2 {
    color: #fff;
    background: #0d9ca8;
}

.seller-label-fg-3 {
    color: #296899;
}

.seller-label-bg-3 {
    color: #fff;
    background: #296899;
}

.seller-label-fg-4 {
    color: gray;
}

.seller-label-bg-4 {
    color: #fff;
    background: gray;
}

.seller-label-fg-5 {
    color: #ffa300;
}

.seller-label-bg-5 {
    color: #fff;
    background: #ffa300;
}

.seller-label-fg-6 {
    color: #ff5c00;
}

.seller-label-bg-6 {
    color: #fff;
    background: #ff5c00;
}

.seller-label-fg-7 {
    color: #f01a14;
}

.seller-label-bg-7 {
    color: #fff;
    background: #f01a14;
}

.seller-label-fg-8 {
    color: #00b600;
}

.seller-label-bg-8 {
    color: #fff;
    background: #00b600;
}

.seller-label-fg-9 {
    color: #ff5c00;
}

.seller-label-bg-9 {
    color: #fff;
    background: #ff5c00;
}

.google-visualization-table-page-numbers {
    margin: 2px 0;
    padding: 0;
    display: inline-block;
    border-radius: 4px;
}

.google-visualization-table-page-numbers .page-number {
    position: relative;
    float: left;
    padding: 6px 12px !important;
    margin: 2px 0 0 -1px !important;
    line-height: 1.42857143 !important;
    color: #428bca !important;
    text-decoration: none !important;
    background: #fff !important;
    border: 1px solid #ddd !important;
    border-radius: 0 !important;
}

.google-visualization-table-page-numbers .current {
    z-index: 2;
    color: #fff !important;
    cursor: default;
    background-color: #428bca !important;
    border-color: #428bca;
}

.google-visualization-table-div-page div {
    border: none !important;
}

.google-visualization-table-div-page img {
    margin: 0 3px 0 3px;
}

.google-visualization-table-div-page .charts-custom-button-collapse-left, .google-visualization-table-div-page .charts-custom-button-collapse-right {
    position: relative;
    float: left;
    margin: 5px 0 5px -1px !important;
    line-height: 1.42857143 !important;
    color: #428bca !important;
    text-decoration: none !important;
    background: #fff !important;
    border: 1px solid #ddd !important;
}

.google-visualization-table-div-page .charts-custom-button-collapse-left {
    margin: 5px 12px 5px 0 !important;
}

.select2-search-field input {
    margin: 0 !important;
    padding-top: 1px !important;
    padding-left: 10px !important;
    font-size: .85em !important;
    color: #999 !important;
}

.enforce-checkbox {
    margin: 2px 0 0 5px;
    height: 17px;
}

.enforce-checkbox label {
    height: 17px;
    margin: 0;
    font-weight: normal;
}

.enforce-checkbox span {
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 8px;
    color: #fff;
    direction: ltr;
    margin-bottom: 0;
    width: 17px;
    height: 17px;
    background-color: #fff;
    border: 1px solid #c2c6cb;
    border-radius: 3px;
    -webkit-transition: border .2s linear 0s,color .2s linear 0s;
    -o-transition: border .2s linear 0s,color .2s linear 0s;
    transition: border .2s linear 0s,color .2s linear 0s;
}

.enforce-checkbox span.thead::after, .enforce-checkbox span.tfoot::after {
    top: 0;
}

.enforce-checkbox span::after {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 2px;
    top: -3px;
    font-size: 11px;
    border-radius: 3px;
    font-family: 'FontAwesome';
}

.enforce-checkbox input[type=checkbox] {
    display: none;
}

.enforce-checkbox input[type=checkbox]:checked + span {
    background-color: #379bd2;
}

.enforce-checkbox input[type=checkbox]:checked + span::after {
    content: "\F00C";
}

.enforce-checkbox input[type=checkbox][disabled] + span {
    background-color: #faa732;
}

.enforce-checkbox input[type=checkbox][disabled] + span::after {
    left: 3px;
    content: "\F10C";
}

.checkbox input[type=radio][disabled] + label:after {
    background-color: #eceff3;
}

.checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
    color: #777a80;
    -webkit-transition: border .2s linear 0s,color .2s linear 0s;
    -o-transition: border .2s linear 0s,color .2s linear 0s;
    transition: border .2s linear 0s,color .2s linear 0s;
    margin-bottom: 10px;
    direction: ltr;
}

.checkbox label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 1.4px;
    background-color: #FFF;
    border: 1px solid #c2c6cb;
    border-radius: 3px;
    -webkit-transition: border .2s linear 0s,color .2s linear 0s;
    -o-transition: border .2s linear 0s,color .2s linear 0s;
    transition: border .2s linear 0s,color .2s linear 0s;
}

.checkbox label::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 3px;
    top: 2px;
    font-size: 11px;
    -webkit-transition: border .2s linear 0s,color .2s linear 0s;
    -o-transition: border .2s linear 0s,color .2s linear 0s;
    transition: border .2s linear 0s,color .2s linear 0s;
}

.checkbox label:after {
    border-radius: 3px;
}

.checkbox input[type=checkbox] {
    display: none;
}

.checkbox.checkbox-circle label:after {
    border-radius: 99px;
}

.checkbox.checkbox-circle label:before {
    border-radius: 99px;
}

.checkbox input[type=checkbox]:checked + label {
    color: #4d5056;
}

.checkbox input[type=checkbox]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\F00C";
}

.checkbox input[type=checkbox][disabled] + label {
    opacity: .65;
}

.checkbox input[type=checkbox][disabled] + label:before {
    background-color: #eceff3;
}

.checkbox.check-success input[type=checkbox]:checked + label:before {
    background-color: #5bb75b;
    border: 1px solid #5bb75b;
}

.checkbox.check-success input[type=checkbox]:checked + label::after {
    color: #e3e3e3;
}

.checkbox.check-primary input[type=checkbox]:checked + label:before {
    background-color: #379bd2;
    border: 1px solid #379bd2;
}

.checkbox.check-primary input[type=checkbox]:checked + label::after {
    color: #e3e3e3;
}

.checkbox.check-info input[type=checkbox]:checked + label:before {
    background-color: #49afcd;
    border: 1px solid #49afcd;
}

.checkbox.check-info input[type=checkbox]:checked + label::after {
    color: #e3e3e3;
}

.checkbox.check-warning input[type=checkbox]:checked + label:before {
    background-color: #faa732;
    border: 1px solid #faa732;
}

.checkbox.check-warning input[type=checkbox]:checked + label::after {
    color: #e3e3e3;
}

.checkbox.check-danger input[type=checkbox]:checked + label:before {
    background-color: #da4f49;
    border: 1px solid #da4f49;
}

.checkbox.check-danger input[type=checkbox]:checked + label::after {
    color: #e3e3e3;
}

.bg-time {
    background: #1eadd8;
    color: #fff !important;
}

.time-wrap {
    margin: 30px 0 0 0;
}

.timeline {
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #e1e1e1;
    left: 47px;
    margin: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.timeline > li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
}

.timeline > li > .fa, .timeline > li > .glyphicon, .timeline > li > .ion {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #1eadd8;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
}

.timeline > li:before, .timeline > li:after {
    display: table;
    content: " ";
}

.timeline > li:after {
    clear: both;
}

.timeline > li.time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #d1d1d1;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.timeline > li > .timeline-item {
    margin-top: -1px;
    border: 0 solid #dfdfdf;
    background: #eee;
    margin-left: 60px;
    margin-right: 15px;
    padding: 5px;
    position: relative;
    border-radius: 4px;
}

.timeline > li > .timeline-item:before {
    position: absolute;
    top: 10px;
    right: 100%;
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    border-color: transparent #eee transparent transparent;
    content: " ";
    pointer-events: none;
}

.timeline > li > .timeline-item > .time {
    color: #999;
    float: right;
    margin: 2px 0 0 0;
    padding: 5px;
}

.timeline > li > .timeline-item > .timeline-header {
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
    padding: 5px 5px 5px 10px;
    font-size: 14px;
    line-height: 2.1;
}

.timeline > li > .timeline-item > .timeline-header > a {
    font-weight: 600;
}

.timeline > li > .timeline-item > .timeline-body {
    padding: 5px;
}

.timeline > li > .timeline-item .timeline-footer {
    overflow: hidden;
    padding: 5px;
}

.timeline > li > .timeline-item .timeline-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.timeline > li > .timeline-item .timeline-footer ul > li {
    display: block;
    float: left;
    margin: 0 5px;
}

.page-header {
    border-bottom: 1px solid #ddd;
}

.domain-row {
    margin-right: 0;
    margin-left: 0;
}

.domain-content {
    padding: 0 10px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background: #FFF;
}

.bulk-add-sites {
    position: relative;
    margin-top: 10px;
    width: 0;
    min-width: 60px;
    min-height: 30px;
    float: right;
    overflow: hidden;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    transition: width .3s;
    -webkit-backface-visibility: hidden;
}

.bulk-add-input {
    position: absolute;
    top: 0;
    right: 0;
    outline: 0;
    background: #FFF;
    width: 100%;
    height: 60px;
    margin: 0;
    z-index: 50;
    padding: 20px 65px 20px 20px;
    color: #333;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.bulk-add-icon, .bulk-add-submit {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

h1.website-detail-title {
    display: inline-block;
    font-size: 31px;
    color: #379bd2;
}

.domain-top-form {
    display: inline;
}

.quick-controls {
    float: right;
    margin-top: 25px;
}

.quick-controls:first-child {
    padding-left: 0;
}

.quick-controls-icon {
    font-size: 16px;
    padding-left: 8px;
    cursor: pointer;
}

.quick-controls-icon-disabled {
    font-size: 16px;
    padding-left: 8px;
    color: #acacac;
    cursor: pointer;
}

.domain-divider {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.top-enforcement {
    margin-top: 20px;
    padding-left: 0;
    list-style-type: none;
    float: left;
}

.top-enforcement li {
    line-height: 29px;
    padding-bottom: 5px;
}

.top-enforcement li.site-info {
    font-weight: bold;
}

.top-enforcement label {
    padding-right: 15px;
}

.info-button {
    color: #87c3e4;
    font-size: 15px;
    cursor: help;
    float: right;
    margin-top: 5px;
    padding-left: 8px;
}

.enforcement-dropdown, .top-enforcement li select {
    color: #333;
    height: 28px;
    line-height: 28px;
    border: 1px solid #DDD;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 10px;
    width: 85%;
    display: block;
}

.select-enforcement {
    color: #333;
    height: 28px;
    line-height: 28px;
    border: 1px solid #DDD;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 10px;
}

.transition {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.rounded2px {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.btn-additional-enforcement {
    text-transform: uppercase;
    color: #FFF;
    padding: 6px 26px;
    font-size: 12px;
    background-color: #db5b5b;
    border: 0;
}

.btn-additional-enforcement:hover {
    background-color: #c54b4b;
}

.btn-additional-enforcement-disabled {
    background-color: #FFF;
    border: 1px solid #acacac;
    color: #acacac;
    cursor: help;
    font-size: 12px;
    padding: 3px 28px;
    text-transform: uppercase;
}

.btn-additional-enforcement-disabled:hover {
    border: 1px solid #333;
    color: #acacac;
}

.top-enforcement-right {
    margin-top: 20px;
    padding-left: 0;
    list-style-type: none;
    float: right;
    text-align: right;
}

.top-enforcement-right li {
    line-height: 33px;
}

.offline-status {
    color: #db5b5b;
    text-transform: uppercase;
    font-weight: bold;
}

.active-status {
    color: #b2d556;
    text-transform: uppercase;
    font-weight: bold;
}

.paddingleft10 {
    padding-left: 10px;
}

.topmargin70 {
    margin-top: 70px;
}

.topmargin50 {
    margin-top: 50px;
}

.topmargin20 {
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    margin-top: 20px;
    padding-top: 25px;
}

.topmargin10 {
    margin-top: 10px;
}

.domain-summary {
    margin-top: 15px;
    padding-left: 15px;
}

table.activity-log > tbody > tr > th {
    border-top: 0;
}

.enforcement-table-container {
    border: 1px solid #DDD;
}

.img-container {
    max-width: 335px;
    overflow: hidden;
    position: relative;
    border: 1px solid #DDD;
}

.screenshot-details-container {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
}

.screenshot-count {
    width: 40px;
    height: 40px;
    padding-top: 11px;
    position: absolute;
    text-align: center;
    background-color: #FFF;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    float: left;
    font-size: 12px;
    z-index: 10;
    opacity: .9;
    filter: alpha(opacity=90);
    bottom: 20px;
    margin-left: 10px;
}

.screenshot-url {
    background: #FFF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    font-size: 9px;
    margin: 10px 5px;
    padding: 5px 10px;
    text-transform: uppercase;
    z-index: 9;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    opacity: .9;
    filter: alpha(opacity=90);
}

.img-info {
    position: absolute;
    height: 80px;
    width: 100%;
    bottom: 0;
    background: rgba(51, 51, 51, 0);
    background: -moz-linear-gradient(top, rgba(51, 51, 51, 0) 0, rgba(51, 51, 51, 0.9) 90%);
    background: -webkit-gradient(left top, left bottom, color-stop(0, rgba(51, 51, 51, 0)), color-stop(90%, rgba(51, 51, 51, 0.9)));
    background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0) 0, rgba(51, 51, 51, 0.9) 90%);
    background: -o-linear-gradient(top, rgba(51, 51, 51, 0) 0, rgba(51, 51, 51, 0.9) 90%);
    background: -ms-linear-gradient(top, rgba(51, 51, 51, 0) 0, rgba(51, 51, 51, 0.9) 90%);
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0) 0, rgba(51, 51, 51, 0.9) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#333333',GradientType=0);
}

.img-info-text {
    position: absolute;
    z-index: 10;
    text-align: center;
    color: #FFF;
    width: 100%;
    text-shadow: -1px -1px 0 black;
    margin-top: 20px;
    line-height: 45px;
    font-size: 13px;
}

.screenshot {
    max-width: 335px;
    text-align: center;
}

.img-controls {
    left: 50%;
    margin-left: auto;
    margin-top: 28px;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

.img-controls a:hover {
    text-decoration: none;
}

.nudge-left {
    padding-left: 15px;
}

.pullUp {
    margin-top: -20px;
}

.pushDown {
    margin-top: 12px;
}

.icon-disabled {
    color: #acacac;
}

.img-controls-btn {
    text-align: center;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background-color: #379bd2;
    color: #FFF;
    margin-left: 10px;
    border: 0;
    display: inline-block;
}

.img-controls-btn-disabled {
    text-align: center;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background-color: #eee;
    color: #333;
    margin-left: 10px;
    border: 0;
    cursor: not-allowed;
    display: inline-block;
}

.img-controls-btn:hover {
    background-color: #23709a;
    color: #FFF;
    text-decoration: none;
}

.img-zoom {
    display: block;
}

.img-zoom:hover {
    background: rgba(125, 125, 125, 0.3);
}

.td-label {
    font-weight: bold;
}

.th-label {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.table-striped > tbody > tr:nth-child(2n+1) {
    background-color: #f4f6f8;
}

.table-products {
    margin-bottom: 0;
}

.btn-add-products {
    text-transform: uppercase;
    color: #FFF;
    padding: 6px 45px;
    font-size: 12px;
    background-color: #379bd2;
    border: 0;
    width: 100%;
}

.btn-add-products:hover, .btn-general-blue:hover {
    background-color: #23709a;
    color: #FFF;
}

.btn-general-disabled {
    text-transform: uppercase;
    color: #929292;
    cursor: no-drop;
    padding: 5px 18px;
    font-size: 12px;
    background-color: #FFF;
    border: 1px solid #929292;
    text-decoration: line-through;
}

.btn-general-disabled:hover {
    color: #EEE;
}

.btn-tag-product {
    text-decoration: none;
    color: #333;
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px 10px 2px 15px;
    line-height: 16px;
    height: auto;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color: #efefef;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.btn-tag-product:after {
    font-family: FontAwesome;
    padding-left: 8px;
    font-size: 12px;
    content: '\f00d';
}

.btn-tag-product:hover:after {
    color: #db5b5b;
}

.btn-tag-product:hover {
    text-decoration: none;
    background-color: #333;
    color: #FFF;
}

.btn-tag-product:first-child {
    margin-left: 0;
}

.flag-positive {
    color: #b2d556;
    padding: 0 30px 0 7px;
}

.flag-negative {
    color: #db5b5b;
    padding: 0 30px 0 7px;
}

.enforcement-success {
    font-size: 16px;
    color: #b2d556;
}

.enforcement-failed {
    font-size: 16px;
    color: #db5b5b;
}

.smallHeading {
    font-size: 20px;
}

.linked-domains select {
    color: #333;
    width: 85%;
    height: 28px;
    line-height: 28px;
    border: 1px solid #DDD;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 10px;
}

.review-icons {
    float: left;
    list-style-type: none;
    font-size: 16px;
    padding-left: 0;
}

.review-icons li {
    float: left;
    padding-right: 15px;
}

.review-icons li:last-child {
    padding-right: 0;
}

.comment-bubble {
    word-wrap: break-word;
    position: relative;
    width: 100%;
    padding: 0;
    height: auto;
    border: 1px solid #DDD;
    background-color: #FFF;
}

.comment-bubble p {
    line-height: 21px;
    color: #333;
    padding: 10px 15px;
}

.comment-container {
    border-left: 2px solid #379bd2;
    margin-left: 20px;
    padding-bottom: 60px;
    padding-left: 35px;
}

.first-user-avatar-comment {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 20;
    margin-top: 0;
    overflow: hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #379bd2;
}

.first-user-avatar-comment img, .user-avatar-comment img {
    margin-top: -2px;
    margin-left: -2px;
}

.user-avatar-comment {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 20;
    margin-top: 18px;
    overflow: hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #379bd2;
}

.comment-input {
    width: 100%;
    min-height: 100px;
    min-width: 100%;
    max-width: 100%;
    padding: 10px 15px;
    color: #a9a9a9;
    line-height: 21px;
    border: 0;
    overflow: auto;
}

.comment-input:focus {
    color: #333;
}

.comment-bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 8px 7px 0;
    border-color: transparent #DDD;
    display: block;
    width: 0;
    z-index: 1;
    left: -8px;
    top: 12px;
}

.btn-general-blue {
    text-transform: uppercase;
    color: #FFF;
    padding: 5px 18px;
    font-size: 12px;
    background-color: #379bd2;
    border: 0;
}

.btn-general-outline-small {
    float: right;
    text-transform: uppercase;
    color: #379bd2;
    padding: 5px 18px;
    font-size: 11px;
    background-color: #FFF;
    border: 1px solid #379bd2;
}

.btn-general-outline-small-overlay {
    float: right;
    text-transform: uppercase;
    color: #FFF;
    padding: 5px 18px;
    font-size: 11px;
    background-color: transparent;
    border: 1px solid #FFF;
}

.comment-user-profile {
    font-size: 11px;
    padding-right: 15px;
}

.comment-timestamp {
    color: #a9a9a9;
    font-size: 11px;
    text-transform: uppercase;
}

.close-full-round {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 15px;
    opacity: 1;
    background: #FFF !important;
    color: #db5b5b;
    font-size: 21px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.close-full-round:hover {
    color: #c54b4b;
    opacity: 1;
}

.mail-form-label {
    font-weight: bold;
    display: inline-block;
    width: 80px;
    vertical-align: top;
    padding-top: 6px;
}

.mail-form-label-message {
    position: absolute;
}

.mail-form-text-input {
    width: 730px;
    margin-left: 10px;
    display: inline-block;
}

.mail-form-textarea-input {
    border: 1px solid #DDD;
    margin-left: 93px;
    min-width: 395px;
    min-height: 100px;
    max-width: 395px;
    padding: 8px;
    line-height: 21px;
}

.mail-form-text-input:focus {
    font-style: normal;
    color: #333;
}

.mail-field-toggle {
    color: #db5b5b;
    cursor: pointer;
}

.mail-toggle {
    font-size: 11px;
    font-weight: normal;
    padding-right: 15px;
    text-decoration: underline;
    cursor: pointer;
}

#mailBCCToggle, #mailCCToggle {
    display: none;
}

.domain-dropdown {
    float: left;
    margin-right: 15px;
}

#enforcementEmailBtn {
    margin-left: 10px;
}

.site-info-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999999;
    padding: 40px 20px 0 20px;
    display: block;
    text-align: center;
    color: #FFF;
}

.refreshData, #enforcementtableMore, #enforcementtableMoreBottom, #domaininfotableMore, #domaininfotableMoreBottom {
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    color: #379bd2;
    font-size: 11px;
    transition: color .3s;
}

.refreshData:hover, #enforcementtableMore:hover, #enforcementtablmetallieMoreBottom:hover {
    color: #333;
}

.progress-domains {
    background-color: #EEE;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.progress-bar-domains {
    height: 10px;
}

.progress-status-percentage {
    color: #FFF;
    font-size: 40px;
    text-align: center;
    display: block;
}

.progress-status-icon-success {
    font-size: 40px;
    text-align: center;
    display: block;
    color: #7ce07c;
}

.progress-status-icon-error {
    font-size: 40px;
    text-align: center;
    display: block;
    color: #dabb2a;
}

.progress-status-text {
    font-size: 20px;
    color: #FFF;
    text-align: center;
    display: block;
    text-transform: uppercase;
}

.favorite-domain {
    color: #eebc45;
    padding-left: 10px;
    cursor: pointer;
}

.favorite-domain:hover, .addgroup-domain:hover, .site-image-search:hover {
    text-decoration: none;
}

.addgroup-domain {
    padding-left: 10px;
    cursor: pointer;
}

.site-image-search {
    padding-left: 10px;
    cursor: pointer;
}

.product-container {
    float: left;
    margin-bottom: 10px;
}

.product-label {
    padding: 3px 15px 0 30px;
    background-color: #DDD;
    line-height: 30px;
    font-size: 11px;
    color: #333;
    font-weight: normal;
    text-transform: uppercase;
    float: left;
    margin-bottom: 0;
}

input[type=checkbox].product-checkbox {
    float: left;
    left: 21px;
    margin-top: 10px;
    position: relative;
}

input[type=checkbox].product-checkbox:checked + .product-label {
    background-color: #379bd2;
    color: #FFF;
}

.domain-activity-tabs {
    text-transform: uppercase;
    font-size: 11px;
}

.product-check-highlight {
    background-color: #23709a;
    color: #FFF !important;
}

.styled-checkbox {
    background-color: #FFF;
}

.review-icon {
    margin-left: 10px;
}

.status-text-green {
    font-weight: bold;
    color: #b2d556;
}

.status-text-orange {
    font-weight: bold;
    color: #eebc45;
}

.status-text-red {
    font-weight: bold;
    color: #db5b5b;
}

.tableLeft {
    text-align: left;
}

.tableCenter {
    text-align: center;
}

.tableRight {
    text-align: right;
}

.toBeApproved tr td:first-child {
    width: 15px;
    max-width: 15px;
}

.toBeApproved tr td a i {
    color: #db5b5b;
    padding-right: 10px;
    transition: all .3s;
}

.toBeApproved tr td a i:hover {
    color: #b03b3b;
}

.toBeApproved tr td:nth-child(4) {
    width: 150px;
    max-width: 150px;
}

.toBeApproved tr:nth-child(2n+1):hover, .toBeApproved tr:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.btn-approve:before {
    font-family: FontAwesome;
    font-size: 16px;
    padding-right: 15px;
    padding-left: 10px;
    content: '\f164';
    color: #FFF;
}

.btn-approve-enforcement, .btn-approve {
    font-size: 12px;
    padding: 6px 15px 6px 0;
    transition: background-color .3s;
    text-transform: uppercase;
    color: #FFF;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #b2d556;
    margin-bottom: 15px;
    margin-right: 11px;
}

.btn-approve-enforcement {
    padding: 6px 15px 6px 18px;
}

.btn-approve-enforcement:after {
    padding-left: 8px;
}

.btn-approve-enforcement:hover, .btn-approve:hover {
    background-color: #87a733;
    color: #FFF;
}

.btn-deny:before {
    font-family: FontAwesome;
    font-size: 16px;
    padding-right: 15px;
    padding-left: 10px;
    content: '\f165';
    color: #FFF;
}

.btn-deny {
    font-size: 12px;
    padding: 6px 15px 6px 0;
    transition: background-color .3s;
    text-transform: uppercase;
    color: #FFF;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #db5b5b;
    margin-bottom: 15px;
    margin-right: 15px;
}

.btn-deny:hover {
    background-color: #b03b3b;
    color: #FFF;
}

#selectAll {
    margin-top: -1px;
}

.approvedExternal:after {
    font-family: FontAwesome;
    font-size: 10px;
    padding-left: 10px;
    content: '\f08e';
    color: #379bd2;
    text-decoration: none;
}

.approvedExternal:hover:after {
    text-decoration: none;
}

.icon-approve, .icon-deny {
    cursor: pointer;
    transition: all .3s;
}

.icon-approve {
    color: #b2d556;
    padding-right: 15px;
}

.icon-approve:hover {
    color: #87a733;
}

.icon-deny {
    color: #db5b5b;
}

.icon-deny:hover {
    color: #b03b3b;
}

.table-external {
    font-size: 10px;
    padding-left: 5px;
}

.fb-likes, .twitter-followers, .google-plus, .linked-in, .vkontakte, .pinterest, .xing, .digg, .stumbleupon, .delicious {
    padding-left: 10px;
    font-size: 13px;
}

.fb-likes {
    color: #3a5795;
}

.twitter-followers {
    color: #55acee;
}

.google-plus {
    color: #da4835;
}

.linked-in {
    color: #007bb6;
}

.vkontakte {
    color: #54769b;
}

.pinterest {
    color: #cb1c2d;
}

.xing {
    color: #005a5f;
}

.digg {
    color: #1d588d;
}

.stumbleupon {
    color: #eb4924;
}

.delicious {
    color: #2a96ff;
}

.ui-widget-header {
    border: none !important;
    background: #FFF !important;
}

.batch-enforcement {
    text-align: center;
    padding: 15px;
}

.batch-enforcement label {
    font-weight: normal;
}

.batch-enforcement-checkbox {
    margin-right: 10px !important;
}

#submit_enforcement {
    margin-top: 15px;
}

.ui-dialog-titlebar-close {
    background-position: -82px -130px;
    border: 0;
    height: 15px;
}

.enforcement-batch-panel-info {
    padding: 5px;
    border: 1px solid #379bd2;
    background: #c4eaff;
    color: #333;
    font-size: 11px;
    margin-top: 15px;
}

.btn-cancel {
    border: 1px solid #DDD;
    font-size: 12px;
    padding: 5px 18px;
    text-transform: uppercase;
    background: 0;
    margin-top: 15px;
}

.btn-cancel:hover {
    background-color: #fafafa !important;
    border: 1px solid #333;
}

.website_group_table {
    width: 100%;
    margin-bottom: 15px;
}

.website_group_table tr:first-child {
    border-top: 0;
}

.website_group_table tr {
    border-top: 1px dotted #9a9a9a;
}

.website_group_title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #9a9a9a;
    width: 100%;
    padding: 5px 0;
    text-transform: uppercase;
}

.website_group_description {
    padding: 0 5px 5px 5px;
    font-style: italic;
    color: #9a9a9a;
}

.website_group_name {
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
}

.website_group_no_result {
    font-style: italic;
    padding: 5px;
}

.group_toggle_button_off, .group_toggle_button_on {
    text-align: right;
    font-size: 20px;
}

.group_toggle_button_off {
    color: #db5b5b;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    text-align: left;
}

.group_toggle_button_on {
    color: #b2d556;
}

.domain-pager {
    padding-left: 0;
    margin: 20px 20px;
    list-style: outside none none;
    text-align: center;
    float: left;
}

.sellerLabelDropdownContainer {
    width: 100%;
}

.sellerLabelDropdown {
    width: 100%;
    text-align: left;
}

.sellerLabelItem {
    line-height: 20px;
}

.sellerLabelLink {
    padding: 0 !important;
}

.sellerLabel {
    margin-bottom: 0 !important;
    margin-left: 10px !important;
    padding-top: 2px;
    padding-left: 30px !important;
}

.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0s;
    animation: dot 1.3s infinite;
    animation-delay: 0s;
}

.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: .2s;
    animation: dot 1.3s infinite;
    animation-delay: .2s;
}

.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: .3s;
    animation: dot 1.3s infinite;
    animation-delay: .3s;
}

@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes gathering-data {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes gathering-data {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.gathering-data {
    -webkit-animation: gathering-data 1.3s infinite;
    -moz-animation: gathering-data 1.3s infinite;
    -o-animation: gathering-data 1.3s infinite;
    animation: gathering-data 1.3s infinite;
    margin-left: 8px;
}

.workflow-page > div > ul > li.ui-state-default {
    border: none !important;
}

.workflow-page > div > ul > li.ui-state-header {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
}

.workflow-page > div > ul > .nav-tabs {
    border-bottom: 1px solid #DDD !important;
}

.workflow-tabs {
    border-top: none !important;
    border-right: none !important;
    border-bottom: 1px solid #DDD !important;
    border-left: none !important;
}

.workflow-page > .nav-tabs > li > a {
    border: none !important;
}

.workflow-tabs li {
    border-top: 1px solid #DDD !important;
    border-right: 1px solid #DDD !important;
    border-bottom: none !important;
    border-left: 1px solid #DDD !important;
}

.workflow-page > div > ul > .ui-state-active {
    color: #379bd2 !important;
    text-decoration: underline !important;
}

.workflow-table > tbody > tr > td > a {
    color: #379bd2 !important;
    text-decoration: underline !important;
}

.workflow-table > tbody > tr > td > a:hover {
    text-decoration: none !important;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop15 {
    margin-top: 15px;
}

.marginTop20 {
    margin-top: 20px;
}

#tmp-wrap > .tabs {
    margin: 0 auto;
    position: relative;
    white-space: nowrap;
    font-family: Lato;
    font-size: 13px;
}

#tmp-wrap > .tabs li.tab {
    background-color: #fff;
    display: block;
    float: left;
    height: 48px;
    letter-spacing: .8px;
    line-height: 48px;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    z-index: 3;
}

#tmp-wrap > .tabs li.tab-active {
    border-bottom: 3px solid #3498db;
    transition: all .28s ease 0s;
}

#tmp-wrap > .tabs li.tab-active:hover {
    color: #3498db;
    border-bottom: 3px solid #a3d3fa;
}

#tmp-wrap > .tabs li.tab a {
    color: #3498db;
    display: inline-block;
    margin: 0;
    height: 100%;
    transition: color .28s ease 0s;
}

#tmp-wrap > .tabs li.tab a:hover {
    text-decoration: none;
    color: #a3d3fa;
}

#tmp-wrap .quick-stat-module {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    background-color: #FFF;
    text-align: center;
    z-index: 1;
}

#tmp-wrap .quick-stat-module > span {
    display: inline-block;
    padding-top: 10px;
    width: 100%;
    text-align: center;
    font-weight: lighter;
    font-size: 35px;
    font-family: "Roboto",sans-serif;
}

#tmp-wrap .quick-stat-module > i {
    position: relative;
    display: table;
    float: none;
    margin: 0 auto;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    text-align: center;
    font-size: 29px;
    line-height: 41px;
    cursor: pointer;
}

#tmp-wrap > .quick-stat-module > i.total-listings {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    -webkit-animation: pulseOut .5s;
    animation: pulseOut .5s;
}

#tmp-wrap > .quick-stat-module > i.reported-listings {
    -webkit-animation: pulseOut .5s;
    animation: pulseOut .5s;
}

#tmp-wrap > .quick-stat-module > i.unique-sellers {
    -webkit-animation: pulseOut .5s;
    animation: pulseOut .5s;
}

#tmp-wrap > .quick-stat-module > i.average-amount {
    -webkit-animation: pulseOut .5s;
    animation: pulseOut .5s;
}

#tmp-wrap > .quick-stat-module > .total-listings, #tmp-wrap > .quick-stat-module > .total-styles, #tmp-wrap > .quick-stat-module > .total-compliant-retailers, #tmp-wrap > .quick-stat-module > .total-compliant-stores {
    background-color: #8bc34a;
    color: #FFF;
}

#tmp-wrap > .quick-stat-module > .reported-listings {
    background-color: #ff9800;
    color: #FFF;
    font-size: 26px;
}

#tmp-wrap > .quick-stat-module > .unique-sellers, #tmp-wrap > .quick-stat-module > .total-active-retailers, #tmp-wrap > .quick-stat-module > .total-active-stores {
    background-color: #f44336;
    color: #FFF;
    font-size: 26px;
}

#tmp-wrap > .quick-stat-module > .average-amount {
    background-color: #673ab7;
    color: #FFF;
    font-size: 24px;
}

#tmp-wrap > .quick-stat-module > h5 {
    float: left;
    margin: -20px 0 0 0;
    padding: 30px 0 30px 0;
    width: 100%;
    color: #9a9a9a;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Lato,sans-serif;
}

#tmp-wrap > .quick-stat-module > h5.total-listings-heading, #tmp-wrap > .quick-stat-module > h5.total-styles-heading, #tmp-wrap > .quick-stat-module > h5.total-compliant-retailers-heading, #tmp-wrap > .quick-stat-module > h5.total-compliant-stores-heading {
    border-top: 1px solid #8bc34a;
}

#tmp-wrap > .quick-stat-module > h5.reported-listings-heading {
    border-top: 1px solid #ff9800;
}

#tmp-wrap > .quick-stat-module > h5.unique-sellers-heading, #tmp-wrap > .quick-stat-module > h5.total-active-retailers-heading, #tmp-wrap > .quick-stat-module > h5.total-active-stores-heading {
    border-top: 1px solid #f44336;
}

#tmp-wrap > .quick-stat-module > h5.average-amount-heading {
    border-top: 1px solid #673ab7;
}

.retailer-totals #tmp-wrap > .quick-stat-module > h5 {
    font-size: 12px;
}

@-webkit-keyframes pulseOut {
    0% {
        -ms-transform: scale(0.1);
        opacity: 0;
        -webkit-transform: scale(0.1);
        opacity: 0;
        transform: scale(0.1);
        opacity: .0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -ms-transform: scale(1);
        opacity: 1;
        -webkit-transform: scale(1);
        opacity: 1;
        transform: scale(1);
        opacity: 1.0;
    }
}
@keyframes pulseOut {
    0% {
        stroke-opacity: 1;
        stroke-width: 0;
    }
    100% {
        stroke-opacity: 0;
        stroke-width: 50px;
    }
}
.loading-overlay {
    background-color: #eaedf1;
    opacity: .8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    text-align: center;
    font-size: 55px;
}

.loading-overlay span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#tmp-wrap .panel {
    border-radius: 0;
    background-color: #FFF;
}

#tmp-wrap .panel-heading {
    background-color: #f9f9f9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    font-family: Lato;
}

#tmp-wrap .panel-heading i {
    float: right;
    cursor: pointer;
    font-size: 13px;
    padding-top: 4px;
}

#tmp-wrap .panel-body {
    position: relative;
}

.panel-body {
    position: relative;
}

#tmp-wrap .panel-footer {
    border-radius: 0;
    background-color: #f9f9f9;
    min-height: 45px;
    font-family: Lato;
    padding: 0 1.750em;
    font-size: 11px;
    line-height: 40px;
}

#tmp-wrap .top-bar-dashboard {
    height: 48px;
    background: #FFF;
}

#tmp-wrap > .lastBullet {
    -webkit-animation: am-pulsating 1s ease-out infinite;
    animation: am-pulsating 1s ease-out infinite;
}

@-webkit-keyframes am-pulsating {
    0% {
        stroke-opacity: 1;
        stroke-width: 0;
    }
    100% {
        stroke-opacity: 0;
        stroke-width: 50px;
    }
}
@keyframes am-pulsating {
    0% {
        stroke-opacity: 1;
        stroke-width: 0;
    }
    100% {
        stroke-opacity: 0;
        stroke-width: 50px;
    }
}
#tmp-wrap .waves-button {
    padding: 0;
}

#tmp-wrap .btn-new, #tmp-wrap .btn-flat {
    padding: 5px 20px;
    font-family: Lato;
    height: 26px;
    outline: 0;
    border: 0;
    border-radius: 2px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 26px;
}

#tmp-wrap .btn-new {
    background-color: #3498db;
}

#tmp-wrap .btn-flat {
    background-color: transparent;
    color: #333;
    cursor: pointer;
}

#tmp-wrap .btn-flat:hover {
    font-size: 11px;
    line-height: 26px;
}

#tmp-wrap .btn-new:hover {
    padding: 5px 20px;
    background-color: #039be5;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    color: #FFF;
    font-size: 11px;
    line-height: 26px;
}

#tmp-wrap .wrapper-dropdown {
    position: relative;
    margin-top: -25px;
    padding: 6px;
    width: 180px;
    outline: medium none;
    border-bottom: 1px solid #9a9a9a;
    background-color: transparent;
    font-weight: normal;
    font-size: 10px;
    cursor: pointer;
    z-index: 2;
}

#tmp-wrap .wrapper-dropdown-large {
    position: relative;
    margin-top: 8px;
    padding: 6px;
    width: 180px;
    outline: medium none;
    border-bottom: 1px solid #9a9a9a;
    background-color: transparent;
    font-weight: normal;
    font-size: 13px;
    cursor: pointer;
    z-index: 2;
}

#tmp-wrap .wrapper-dropdown:after {
    position: absolute;
    top: 55%;
    right: 10px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-width: 4px 4px 0 4px;
    border-style: solid;
    border-color: #333 transparent;
    content: "";
}

#tmp-wrap .wrapper-dropdown-large:after {
    position: absolute;
    top: 55%;
    right: 10px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-width: 4px 4px 0 4px;
    border-style: solid;
    border-color: #333 transparent;
    content: "";
}

#tmp-wrap .wrapper-dropdown .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding-left: 0;
    background-color: #FFF;
    list-style: none;
    opacity: 0;
    transition: all .3s ease-out;
    pointer-events: none;
    margin-top: -35px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4);
}

#tmp-wrap .wrapper-dropdown-large .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding-left: 0;
    background-color: #FFF;
    list-style: none;
    opacity: 0;
    transition: all .3s ease-out;
    pointer-events: none;
    margin-top: -35px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4);
}

#tmp-wrap .wrapper-dropdown .dropdown li a {
    display: block;
    padding: 8px 10px;
    color: #9a9a9a;
    text-decoration: none;
    transition: all .2s ease-out;
}

#tmp-wrap .wrapper-dropdown-large .dropdown li a {
    display: block;
    padding: 8px 10px;
    color: #9a9a9a;
    text-decoration: none;
    transition: all .2s ease-out;
}

#tmp-wrap .wrapper-dropdown-large .dropdown li i {
    background-color: #3498db;
}

#tmp-wrap .wrapper-dropdown .dropdown li:nth-child(1) i {
    background-color: #8bc34a;
}

#tmp-wrap .wrapper-dropdown .dropdown li:nth-child(2) i {
    background-color: #ff9800;
}

#tmp-wrap .wrapper-dropdown .dropdown li:nth-child(3) i {
    background-color: #f44336;
}

#tmp-wrap .wrapper-dropdown .dropdown li:nth-child(4) i {
    background-color: #673ab7;
}

#tmp-wrap .wrapper-dropdown .dropdown li i {
    margin-right: 11px;
    width: 21px;
    height: 21px;
    margin-top: -1px;
    border-radius: 50%;
    color: #FFF;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    line-height: 21px;
}

#tmp-wrap .wrapper-dropdown-large .dropdown li i {
    margin-right: 11px;
    width: 21px;
    height: 21px;
    margin-top: -1px;
    border-radius: 50%;
    color: #FFF;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    line-height: 21px;
}

#tmp-wrap .wrapper-dropdown li a img {
    padding-right: 8px;
}

#tmp-wrap .wrapper-dropdown .dropdown li:hover a {
    padding-left: 13px;
    color: #333;
}

#tmp-wrap .wrapper-dropdown-large .dropdown li:hover a {
    padding-left: 13px;
    color: #333;
}

#tmp-wrap .wrapper-dropdown.active {
    color: #9a9a9a;
}

#tmp-wrap .wrapper-dropdown-large.active {
    color: #9a9a9a;
}

#tmp-wrap .wrapper-dropdown.active:after {
    border-width: 0 4px 4px 4px;
}

#tmp-wrap .wrapper-dropdown-large.active:after {
    border-width: 0 4px 4px 4px;
}

#tmp-wrap .wrapper-dropdown.active .dropdown {
    opacity: 1;
    margin-top: 0;
    pointer-events: auto;
}

#tmp-wrap .wrapper-dropdown-large.active .dropdown {
    opacity: 1;
    margin-top: 0;
    pointer-events: auto;
}

#tmp-wrap .panel-body {
    padding: 10px;
}

#tmp-wrap .panel-body .table {
    margin-top: -10px;
    margin-bottom: -10px;
}

#tmp-wrap .table tbody tr td, #tmp-wrap .table tbody tr th, #tmp-wrap .table tfoot tr td, #tmp-wrap .table tfoot tr th, #tmp-wrap .table thead tr td, #tmp-wrap .table thead tr th {
    padding: 8px;
    vertical-align: middle;
}

#tmp-wrap .table {
    margin-bottom: 0;
    font-family: Lato;
}

#tmp-wrap .table > thead > tr {
    vertical-align: middle;
}

#tmp-wrap .table > thead > tr > th {
    border-bottom: 2px solid #ddd;
    vertical-align: bottom;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
}

#tmp-wrap .table > tbody {
    font-size: 13px;
    color: #9a9a9a;
}

#tmp-wrap .top-platform-table > tbody > tr > td:nth-child(3) img {
    margin-right: 10px;
}

#tmp-wrap .top-platform-table > tbody > tr > td:nth-child(3) {
    font-size: 25px;
    font-family: "Roboto",sans-serif;
    font-weight: lighter;
}

#tmp-wrap .top-platform-table > thead > tr > th:nth-child(4) i {
    font-size: 11px;
    padding-left: 5px;
    cursor: pointer;
}

#tmp-wrap .top-platform-table > tbody > tr > td:nth-child(4) {
    font-size: 25px;
    font-family: "Roboto",sans-serif;
    font-weight: lighter;
}

.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
.z-depth-1, .z-depth-1-hover:hover, .z-depth-2, .z-depth-2-hover:hover, .z-depth-3, .z-depth-3-hover:hover, .z-depth-4, .z-depth-4-hover:hover, .z-depth-5, .z-depth-5-hover:hover {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.z-depth-1, .z-depth-1-hover:hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
}

.z-depth-2, .z-depth-2-hover:hover {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.z-depth-3, .z-depth-3-hover:hover {
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4);
}

.z-depth-4, .z-depth-4-hover:hover {
    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.z-depth-5, .z-depth-5-hover:hover {
    -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
}

.wrapper.world-domination {
    background-color: #319bd1;
    background-image: url("/bundles/pointerrevlectsecurity/images/world-background.png");
    background-position: center;
    background-repeat: no-repeat;
}

div#security-bundle #form-login {
    width: 26.5em;
    background-color: white;
    position: relative;
    top: 120px;
    padding: 24px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 4px 25px rgba(50, 50, 50, 0.45);
    -webkit-background-clip: padding-box;
    -moz-box-shadow: 0 4px 25px rgba(50, 50, 50, 0.45);
    -moz-border-radius: 4px;
    box-shadow: 0 4px 25px rgba(50, 50, 50, 0.45);
    border: 5px solid rgba(0, 0, 0, 0.33);
    background-clip: padding-box;
    opacity: .9;
}

div#security-bundle #form-login .logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 18px;
}

div#security-bundle #form-login span.intro {
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

div#security-bundle #form-login form .form-group.last {
    margin-bottom: 0;
}

div#security-bundle #form-login form .checkbox label {
    line-height: 23px;
}

div#security-bundle #form-login form .form-control {
    font-size: 14px;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div#security-bundle #form-login form .form-control:focus {
    z-index: 2;
}

div#security-bundle .error {
    border: 1px solid #ddd;
    background-color: #fff;
    opacity: .9;
    margin-top: 15%;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

div#security-bundle .error .error-code {
    font-size: 120px;
    margin-bottom: -40px;
}

div#security-bundle .error .error-message {
    margin-left: 30px;
    margin-top: 70px;
}

.tab-container {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.tab-container .alert {
    margin: 15px;
}

.tab-container #advert-info-box .btn:hover {
    color: #FFF;
    background-color: #379bd2;
    border-color: #1eadd8;
}

.tab-container #advert-info-box .box-title {
    background-color: #379bd2;
    border-right: 1px solid #ddd;
}

.tab-container #advert-info-box .box-title:first-child {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.tab-container #advert-info-box .box-title:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: 0;
}

.tab-container #advert-info-box .box-title p {
    padding: 3px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.tab-container #advert-info-box .box-content {
    border-right: 1px solid #ddd;
}

.tab-container #advert-info-box .box-content:first-child {
    padding-left: 0;
}

.tab-container #advert-info-box .box-content:last-child {
    border: 0;
    padding-right: 0;
}

.tab-container #advert-info-box .box-content table.table {
    margin-bottom: 0;
}

.tab-container #advert-info-box .box-content table.table thead tr th {
    border-bottom: 0;
    background-color: #379bd2;
    color: #eee;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
}

.tab-container #advert-info-box .box-content table.table tr:first-child td {
    border: 0;
}

.tab-container #advert-info-box .box-content table.table tr:last-child td {
    padding: 3px 0;
}

.tab-container #advert-info-box .box-content table.table tr td {
    line-height: 22px;
    padding: 3px;
}

.tab-container #advert-info-box .box-content table.table tr td i.fa {
    margin-right: 5px;
    padding: 4px;
    background-color: #222;
    border-radius: 3px;
}

.tab-container #advert-info-box .box-content.gallery {
    padding: 0;
}

.tab-container #advert-info-box .box-content.gallery img.thumb {
    width: 85px;
    height: 85px;
}

.tab-container #advert-info-box .box-content.gallery ul {
    list-style: none;
    padding: 0;
}

.tab-container #advert-info-box .box-content.gallery ul > li {
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 5px 0 0 12px;
    width: 85px;
    height: 85px;
    vertical-align: middle;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.tab-container #advert-info-box .box-content.gallery ul > li i.fa {
    opacity: 0;
}

.tab-container #advert-info-box .box-content.gallery ul > li img.thumb {
    border-radius: 3px;
    border: 1px solid #ddd;
}

.tab-container #advert-info-box .box-content.gallery ul > li:hover {
    border-radius: 3px;
    background-color: #222;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.tab-container #advert-info-box .box-content.gallery ul > li:hover i.fa {
    opacity: 1;
    color: #e3e3e3;
    position: absolute;
    top: 35px;
    left: 35px;
    content: "\f00e";
    font-family: "FontAwesome";
    font-size: 1.1em;
    font-weight: bold;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.tab-container #advert-info-box .box-content.gallery ul > li:hover img.thumb {
    opacity: .5;
}

@media (min-width: 1280px) and (max-width: 1380px) {
    .tab-container table.advert-table > tbody > tr > td.col-md-5 > a {
        max-width: 200px;
    }
}
.tab-container table.advert-table {
    margin-bottom: 0;
}

.tab-container table.advert-table.table-shadow {
    -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1);
}

.tab-container table.advert-table tfoot tr td .checkbox, .tab-container table.advert-table th .checkbox {
    margin-left: 2px;
}

.tab-container table.advert-table tfoot tr td .checkbox label::after, .tab-container table.advert-table th .checkbox label::after {
    top: 2px;
}

.tab-container table.advert-table .popover a, .tab-container table.advert-table .tooltip a {
    color: #379bd2 !important;
}

.tab-container table.advert-table .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 7px;
    height: 19px;
}

.tab-container table.advert-table .checkbox label {
    margin-bottom: 14px;
    margin-right: 0;
}

.tab-container table.advert-table .checkbox label:before {
    background-color: #fff;
}

.tab-container table.advert-table .checkbox label::after {
    top: 0;
}

.tab-container table.advert-table > tbody > tr.active > td {
    background-color: #379bd2;
    color: #fff;
}

.tab-container table.advert-table > tbody > tr.active > td a {
    color: white;
}

.tab-container table.advert-table > tbody > tr > td {
    padding: 2px;
    line-height: 2;
}

.tab-container table.advert-table > tbody > tr > td.col-md-5 > a {
    text-overflow: ellipsis !important;
    overflow: hidden;
    float: left;
    white-space: nowrap;
    max-width: 400px;
    display: inline-block;
}

.tab-container table.advert-table > tbody > tr > td > img {
    border: 1px solid #ddd;
}

.tab-container table.advert-table > tbody > tr > td > input[type="checkbox"] {
    margin-left: 5px;
}

.tab-container .report-btn {
    margin: 20px 0;
}

.tab-container .report-btn-top {
    margin: 10px 0;
}

.tab-container .itemsPerPage {
    float: right;
    margin: 19px 20px 25px 0;
}

.tab-container .pagination-sm {
    float: right;
}

.tab-container .view-mode-1 .fa-enf-status {
    margin-top: 9px;
}

.tab-container .view-mode-1 th .checkbox {
    top: 0;
}

.tab-container .view-mode-1 .checkbox {
    top: 4px;
}

.tab-container .view-mode-2 .fa-enf-status {
    margin-top: 28px;
}

.tab-container .view-mode-2 th .checkbox {
    top: 0;
    margin-top: 0 !important;
}

.tab-container .view-mode-2 .checkbox {
    margin-left: 0;
    margin-top: 0 !important;
    top: 20px;
}

.tab-container .view-mode-2 .checkbox label {
    margin-right: 0;
}

.tab-container .view-mode-2 .checkbox label::after {
    top: 2px !important;
    line-height: 1.5;
}

.tab-container .view-mode-2 table.advert-table > tbody > tr > td {
    padding: 0 2px;
    line-height: 5;
}

.tab-container .view-mode-3 {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.tab-container .view-mode-3 > ul {
    height: 490px;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
}

.tab-container .view-mode-3 > ul > li {
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 14px 12px 0 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-box-shadow: 0 0 10px #DDD;
    box-shadow: 0 0 10px #DDD;
}

.tab-container .view-mode-3 > ul > li img {
    width: 130px;
    height: 130px;
}

.tab-container .view-mode-3 > ul > li .corner {
    width: 24px;
    height: 22px;
    position: absolute;
    padding: 4px;
    background-color: #379bd2;
    color: #FFF;
    display: none;
}

.tab-container .view-mode-3 > ul > li .corner-left {
    width: auto;
    height: 19px;
    font-size: 11px;
    line-height: 1.2;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 1px;
    display: block;
}

.tab-container .view-mode-3 > ul > li .corner-right {
    padding: 3px 4px;
    width: 22px;
    height: 20px;
    margin: 0;
    top: 0;
    right: 0;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 1px;
}

.tab-container .view-mode-3 > ul > li .tools {
    display: block;
    position: relative;
    height: 28px;
    width: 130px;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.tab-container .view-mode-3 > ul > li .tools a, .tab-container .view-mode-3 > ul > li .tools div.advert-status {
    padding: 6px 10px 3px 10px;
    display: block;
    float: left;
}

.tab-container .view-mode-3 > ul > li .tools a i.fa-enf-status, .tab-container .view-mode-3 > ul > li .tools div.advert-status i.fa-enf-status {
    margin: 0;
}

.tab-container .view-mode-3 > ul > li .tools a:hover, .tab-container .view-mode-3 > ul > li .tools div.advert-status:hover {
    background-color: #379bd2;
}

.tab-container .view-mode-3 > ul > li .tools a:hover:first-child, .tab-container .view-mode-3 > ul > li .tools div.advert-status:hover:first-child {
    cursor: default;
    background-color: transparent;
    border-bottom-left-radius: 4px;
}

.tab-container .view-mode-3 > ul > li .tools .checkbox {
    display: inline-block;
    position: inherit;
    padding: 4px 0 0 5px;
    margin: 0;
    margin-left: 7px;
}

.tab-container .view-mode-3 > ul > li .tools .checkbox label {
    padding-left: 0;
    margin-bottom: 15px;
    margin-right: 0;
}

.tab-container .view-mode-3 > ul > li:hover {
    cursor: pointer;
}

.tab-container .view-mode-3 > ul > li:hover .tools {
    display: block;
}

.tab-container .view-mode-3 > ul > li.active {
    margin: 13px 11px 0 -1px;
    border-left: 1px solid #379bd2;
    border-top: 1px solid #379bd2;
    border-right: 1px solid #379bd2;
}

.tab-container .view-mode-3 > ul > li.active .corner {
    display: block;
}

.tab-container .view-mode-3 > ul > li.active .tools {
    background-color: #379bd2;
    display: block;
}

.font-color-green {
    color: #5bb75b;
}

.font-color-blue {
    color: #379bd2;
}

.font-color-red {
    color: #da4f49;
}

.font-color-lblue {
    color: #49afcd;
}

.font-color-orange {
    color: #faa732;
}

.font-color-grey {
    color: #999;
}

.fa-enf-status {
    font-size: 13px;
    margin: 0 0 0 10px;
}

span.dropdown a.btn.btn-sm {
    padding: 2px 5px;
    line-height: 1;
}

.modal-dialog .modal-header {
    background-color: #379bd2;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.modal-dialog .modal-header .custom-modal-title {
    color: #fff;
    position: absolute;
    top: 24px;
    left: 65px;
}

.modal-dialog .modal-header .close {
    font-size: 50px;
}

.modal-dialog .modal-body .enforcement-list.list-group .list-group-item {
    padding: 0;
}

.modal-dialog .modal-body .enforcement-list.list-group .list-group-item:first-child img {
    border-top-left-radius: 4px;
}

.modal-dialog .modal-body .enforcement-list.list-group .list-group-item img {
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    margin-right: 10px;
}

.modal-dialog .modal-body .enforcement-list.list-group .list-group-item .btn {
    position: absolute;
    right: 0;
    top: 7px;
}

.modal-dialog .modal-body .enforcement-list.list-group .list-group-item:last-child {
    padding: 10px 15px;
}

.modal-dialog .modal-body .enforcement-list.list-group .list-group-item:last-child .btn {
    top: 2px;
}

.modal-dialog .modal-body .enforcement-list.list-group .list-group-item:last-child:hover {
    background-color: transparent;
}

.modal-dialog .modal-body .enforcement-list.list-group .list-group-item:hover {
    background-color: #eee;
}

.modal-dialog .modal-footer {
    background-color: #eee;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.modal-dialog .modal-footer hr {
    border-top: 1px solid #e2e2e2;
}

.grid2, .grid3, .grid4 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 0 1%;
    padding: 0 2%;
    float: left;
    border-left: 1px solid #e3e3e3;
}

.grid2:first-child, .grid3:first-child, .grid4:first-child {
    border-left: 0;
    margin: 0;
    padding: 0 2% 0 0;
}

.grid2 {
    width: 48%;
}

.grid3 {
    width: 31.3%;
}

.grid4 {
    width: 23%;
    padding: 0 1%;
}

form.search-form .form-group {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #9fcfe9;
}

form.search-form .form-group:first-child {
    padding: 0 0 10px 0;
}

form.search-form .form-group:last-child {
    border-bottom: 0;
    padding: 10px 0 0 0;
}

form.search-form .form-group .row .col-xs-6:first-child {
    padding-right: 5px;
}

form.search-form .form-group .row .col-xs-6:last-child {
    padding-left: 5px;
}

form.search-form .form-group label.checkbox-inline {
    margin-top: 10px;
}

.loading {
    z-index: 6539;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.loading p.text {
    position: absolute;
    top: 59%;
    left: 48.5%;
    font-size: 2em;
    color: #fff;
}

.loading:after {
    opacity: 1;
    color: #e3e3e3;
    position: absolute;
    top: 50%;
    left: 50%;
    content: "\f021";
    font-family: "FontAwesome";
    font-size: 4em;
    font-weight: bold;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.selection-checkbox {
    display: none;
}

:focus {
    outline: 0;
}

.btn:focus {
    outline: none !important;
    outline-offset: 0;
}

.selection-content {
    font-size: 0;
    margin-top: -10px;
}

.selection-item {
    margin-bottom: 1rem;
}

.selection-item[data-checked="true"] > .selection-item-container::after {
    content: "";
    display: block;
    border: 5px solid #3498db;
    border-top: 0;
    border-right: 0;
    position: absolute;
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
    top: 45%;
    bottom: 45%;
    left: 45%;
    right: 38%;
    background: transparent;
}

.retailer-screenshot-info-bar-container {
    overflow: visible !important;
}

.selection-item[data-checked="true"] > .retailer-screenshot-info-bar-container > .selection-item-container > img {
    opacity: .2;
    width: 100%;
}

.selection-item[data-checked="true"] .retailer-screenshot-info-bar, .selection-item[data-checked="true"].selection-item:hover .retailer-screenshot-info-bar {
    bottom: -2.25rem;
}

.selection-item-container {
    background: #333;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    height: auto;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    width: 100%;
    min-width: 150px;
    min-height: 120px;
    max-height: 250px;
}

.selection-item-container > img {
    width: 100%;
}

.selection-item-container .fa {
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

.selection-item[data-checked="true"] .fa {
    opacity: 0;
}

.retailer-screenshot-info-bar {
    background: rgba(51, 51, 51, 0.8);
    bottom: 0;
    line-height: 1.75rem;
    padding: 5px 10px 5px 10px;
    position: absolute;
    width: 100%;
    transition: all .2s ease-in-out 0s;
}

.retailer-screenshot-info-bar > a {
    padding-right: .5rem;
    padding-left: .5rem;
    transition: color .2s ease-in-out 0s;
}

.retailer-screenshot-info-bar > a:hover, .retailer-screenshot-info-bar > a:active {
    text-decoration: none;
    color: #3498db;
}

.retailer-screenshot-info-bar > a > i {
    font-size: 14px;
    color: #FFF;
}

.retailer-screenshot-info-bar {
    opacity: 0;
}

.selection-item:hover .retailer-screenshot-info-bar {
    bottom: 0;
    opacity: 1;
    transition: opacity .2s ease-in-out 0s;
}

.retailer-screenshot-info-icon > i {
    font-size: 20px;
}

.retailer-screenshot-info-bar .screenshot-type {
    cursor: default !important;
}

.screenshot-download-modal .download-count {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 3.125rem;
    line-height: 2.750rem;
}

.screenshot-download-modal .download-type {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.250rem;
    line-height: 3rem;
}

.screenshot-download-modal .modal-divider {
    margin-right: 5px;
    margin-left: 5px;
    color: #787878;
}

.screenshot-download-modal .modal-body > p {
    margin-bottom: 1rem;
    padding: 1rem 4rem;
    text-align: center;
    font-size: 1rem;
    line-height: 21px;
}

.screenshot-download-modal .modal-user-email-container {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
}

.screenshot-download-modal .modal-user-email {
    display: inline-block;
    margin: 0 auto;
    padding: 2rem;
    background: rgba(52, 152, 219, 0.2);
    color: #3498db;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.250rem;
}

.screenshot-download-modal .modal-user-email:before {
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 2.5rem;
    content: '\f007';
    font-family: FontAwesome;
}

.screenshot-download-modal .modal-footer-btn-container {
    width: 100%;
    text-align: center !important;
}

.screenshot-download-modal .btn-download {
    padding-right: 2rem !important;
    text-transform: uppercase;
}

.screenshot-download-modal .btn-download:before {
    padding: 0 1.5rem 0 1.5rem;
    content: '\f003';
    font-size: 1.5rem;
    font-family: FontAwesome;
}

.screenshot-download-modal .btn:hover {
    color: #FFF !important;
}

.glyphicon {
    top: 3px;
}