#wrapper, #content, .page-content, .container-fluid {
    height: 100%;
}

.page-content-col {
    height: calc(100% - 150px);
}

.post-content .page-content-col {
    height: calc(100% - 60px);
}

.action-block select {
    margin-top: 1%;
}

.action-block .btn {
    background-color:white !important;
    border-color:#CCC !important;
    color:#333 !important;
    margin-top: -5px;
}

.generic .action-block h3 {
    color: #6f6f6f;
    font-family: inherit;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.generic .btn-panel {
    padding: 0 0 20px 400px;
}

#wrapper #content.generic .post-content .page-content-col, .action-title {
    margin-left: 0 !important;
}

#wrapper #content.generic .page-content .page-content-col {
    margin-top: 10px;
}

.generic .post-form {
    padding: 10px 0 10px 50px;
}

.generic .post-form .form-group {
    margin-top: 20px;
}

.generic .post-form .form-group label {
    width: 345px;
    float: left;
    padding: 5px 50px 5px 0;
}

.generic .datepicker-block .input-group-btn {
    display: inline-block !important;
}

.generic .datepicker-block input {
    width: 160px !important;
}

.generic .post-form .form-group input, .generic .post-form .form-group select, .generic .post-form .form-group .dropdown-toggle,
.generic .post-form .form-group textarea {
    width: 200px;
}

.generic .post-form .form-group label span {
    color: red;
}

.generic .post-form .form-group textarea {
    resize: none;
    height: 100px;
}

.image-load {

}

.ng-invalid.ng-touched {
    border: #9c0033 double 1px;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    left: 315px !important;
    top: 0;
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
/**/
#wrapper #content .panel.panel-search:hover {
    padding-bottom: 40px;
    overflow-y: auto;
}

#wrapper #content.generic .panel.panel-search {
    height: calc(100% - 50px) !important;
}

.generic .panel.panel-search {
    overflow-x: hidden;
}

.overflow-none {
    overflow: inherit !important;
}

.generic .dropdown-menu {
    color: black;
}

.generic .action-block div input {
    display: inline-block !important;
    width: 80% !important;
}

.generic .action-block div div {
    display: inline-block;
    width: 17%;
}


.generic .action-block div div .right-btn{
    margin-left: 5px;
}

#wrapper #content.generic .panel.panel-search label {
    max-width: 98% !important;
}

.generic table input[type=checkbox] {
    opacity: 1 !important;
    visibility: visible !important;
    position: inherit !important;
}

.generic .list-with-details {
    margin-right: 325px !important;
}

.generic .pagination-sm {
    float: right;
}

.generic .hide-details {
    display: none;
}

.generic .report-btn-group a{
    margin-bottom: 5px;
}

.generic .infringement-type {
    background-color: orange !important;
}

.generic .infringement-alert {
    position: fixed;
    z-index: 300;
    left: 500px;
    width: 1340px;
}

.top-search {
    background-color: #379bd2 !important;
    padding: 14px 14px 0 14px !important;
    margin-left: 0 !important;
}

.top-search .form-group, .top-search input, .top-search span {
    display: inline-block !important;
}

.top-search .input-group-btn {
    padding-top: 2px;
    margin-left: -4px;
}

.top-search label {
    color: white;
}

.margin-datepicker {
    margin-left: 10px
}

.top-search .top-input-from{
    width: 13% !important;
}

.top-search .form-group {
    width: 13%;
}

.top-search .datepicker-block {
    width: 10% !important;
    margin-right: 50px;
}

.top-search .datepicker-block input {
    width: 80% !important;
}

.top-search .input-group-btn .btn {
    margin-top: -5px;
    background-color: rgb(55, 155, 210) !important;
    color: white !important;
}

.table thead .glyphicon {
    top: 3px !important;
}

.table thead th.sort {
    cursor: pointer;
}

/*.table tbody td {*/
/*overflow: hidden;*/
/*}*/

.generic .details-info-box {
    overflow-y: auto;
    height: calc(100% - 50px);
}

.generic .details-info-box .table {
    table-layout: fixed;
}

.generic .without-search {
    margin-left: 50px !important;
}

.generic .search-open-btn {
    background-color: #337ab7;
    color: white;
    padding: 12px 8px;
    position: fixed;
    border: medium none;
    z-index: 12;
}
.generic .search-open-btn:hover {
    background-color: white;
    color: black;
}

.generic span {
    top: 0 !important;
    cursor: pointer;
}

.generic a {
    cursor: pointer;
}

.generic input.ng-invalid {
    border-bottom-color: #ec1d1d !important;
    border-bottom-width: 2px !important;
}

.generic input[type=number]::-webkit-outer-spin-button,
.generic input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.generic input[type=number] {
    -moz-appearance:textfield;
}


.action-block {
    margin-left: 270px;
    background-color: white;
    padding: 13px 8px 8px 8px;
}

.pagination-lath {
    text-align: center;
    display: inline-block;
}

.pagination-lath button {
    background-color: inherit;
    border: none
}

.inline-block{
    display: inline-block !important;
}

.image-width {
    width: 150px;
}

.search-btn {
    display: none;
}

.any-search {
    color: #eee;
    padding-top: 20%;
    height: 700px;
}

.any-search .glyphicon-search {
    font-size: 60px;
}

/*from twitter styles*/

.panel-search h3 {
    line-height: normal
}

.panel-search input {
    vertical-align: baseline;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    /*background-color: white !important;*/
    /*background-image: none !important;*/
    /*border-bottom-color: #ccc !important;*/
    /*border-bottom-left-radius: 0 !important;*/
    /*border-bottom-right-radius: 0 !important;*/
    /*border-bottom-style: solid !important;*/
    /*border-bottom-width: 1px !important;*/
    /*border-image-outset: 0 !important;*/
    /*border-image-repeat: stretch !important;*/
    /*border-image-slice: 100% !important;*/
    /*border-image-source: none !important;*/
    /*border-image-width: 1 !important;*/
    /*border-left-color: #ccc !important;*/
    /*border-left-style: solid !important;*/
    /*border-left-width: 1px !important;*/
    /*border-right-color: #ccc !important;*/
    /*border-right-style: solid !important;*/
    /*border-right-width: 1px !important;*/
    /*border-top-color: #ccc !important;*/
    /*border-top-left-radius: 0 !important;*/
    /*border-top-right-radius: 0 !important;*/
    /*border-top-style: solid !important;*/
    /*border-top-width: 1px !important;*/
    /*padding-bottom: 5px !important;*/
    /*padding-left: 10px !important;*/
    /*padding-right: 10px !important;*/
    /*padding-top: 5px !important;*/
    /*width: 90% !important*/
}

.search-info {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    background-color: #eaeaea;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 0 10px 20px;
    text-transform: uppercase;
    width: 100%
}

.search-info::after {
    content: "\f05a";
    color: #3498db;
    font-family: FontAwesome;
    margin-left: 10px
}


.enforcement-app-container.sidebar-open {
    margin-right: 325px
}

.sidebar-enforcement {
    width: 330px;
    background-color: #333;
    -webkit-box-shadow: inset 30px 0 25px 0 rgba(0, 0, 0, 0.55);
    -moz-box-shadow: inset 30px 0 25px 0 rgba(0, 0, 0, 0.55);
    box-shadow: inset 30px 0 25px 0 rgba(0, 0, 0, 0.55);
    position: fixed;
    height: 100%;
    top: 50px;
    right: 0;
    transition: all .2s ease-in-out 0s;
    padding: 30px
}

.sidebar-enforcement.is-collapsed {
    right: -330px
}

#close-container {
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: block;
    margin-bottom: 20px
}

.close-left {
    height: 25px;
    width: 1px;
    margin-left: 12px;
    background-color: #FFF;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    Z-index: 1
}

.close-right {
    height: 25px;
    width: 1px;
    background-color: #FFF;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    z-index: 2
}


.sidebar-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    text-align: left;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    border-bottom: 1px solid #6a6a6a;
    padding-bottom: 10px;
    margin-top: 20px
}

.sidebar-minimize {
    color: #333;
    float: right;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.25rem;
    outline: 0 none;
    outline-offset: 0;
    text-align: center;
    transition: all .2s ease-out 0s;
    width: 15px
}

.sidebar-minimize:after {
    float: right;
    font-weight: 500;
    content: "\f078";
    color: #FFF;
    font-family: FontAwesome
}

.sidebar-minimize.minimized {
    transform: rotate(180deg);
    outline: 0 none
}

.sidebar-enforcement>table.table,
.sidebar-enforcement>div>table.table {
    border: 0;
    margin-bottom: 15px;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    padding-left: 0
}

.sidebar-enforcement>table.table>tbody>tr:first-child>td,
.sidebar-enforcement>div>table.table>tbody>tr:first-child>td {
    border-top: 0
}

.sidebar-enforcement>table.table>tbody>tr>td,
.sidebar-enforcement>div>table.table>tbody>tr>td {
    border-top: 1px solid #464646;
    font-weight: 500
}

.sidebar-enforcement>table.table>tbody>tr,
.sidebar-enforcement>div>table.table>tbody>tr {
    height: 40px;
    vertical-align: middle
}

.sidebar-enforcement>table.table>tbody>tr>td:first-child,
.sidebar-enforcement>div>table.table>tbody>tr>td:first-child {
    font-weight: 700
}

.sidebar-enforcement>table.table>tbody>tr>td>a,
.sidebar-enforcement>div>table.table>tbody>tr>td>a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
    transition: all .2s ease-in-out 0s;
    outline: 0
}

.sidebar-enforcement>table.table>tbody>tr>td>a:focus,
.sidebar-enforcement>table.table>tbody>tr>td>a:hover,
.sidebar-enforcement>div>table.table>tbody>tr>td>a:focus,
.sidebar-enforcement>div>table.table>tbody>tr>td>a:hover {
    color: white;
    text-decoration: none
}

.sidebar-enforcement>table.table>tbody>tr>td>i,
.sidebar-enforcement>div>table.table>tbody>tr>td>i {
    margin-left: 10px;
    font-size: 13px
}

.sidebar-enforcement>table.table>tbody>tr>td>i.fa-retweet,
.sidebar-enforcement>div>table.table>tbody>tr>td>i.fa-retweet {
    color: #3498db
}

.sidebar-enforcement>table.table>tbody>tr>td>i.fa-star,
.sidebar-enforcement>div>table.table>tbody>tr>td>i.fa-star,
.sidebar-enforcement>table.table>tbody>tr>td>i.fa-heart,
.sidebar-enforcement>div>table.table>tbody>tr>td>i.fa-heart {
    color: #f44336
}

.sidebar-btn {
    width: 100%;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 7px 10px;
    display: block;
    text-align: center;
    transition: all .2s ease-in-out 0s
}

.sidebar-btn>i {
    margin-right: 10px;
    font-size: 14px
}

.sidebar-btn.start-enforcement {
    color: #FFF
}

.sidebar-btn.start-enforcement:hover {
    outline: 0;
    background-color: #cd3429;
    text-decoration: none
}


.selected-items-container {
    padding-bottom: 1.5rem;
    display: block;
    width: 100%
}

.selected-items-thumbnail {
    width: 60px;
    max-width: 60px;
    float: left
}

.sidebar-enforcement>div>svg {
    max-width: 60px
}

.urls-list {
    max-height: 500px;
    overflow: auto;
}

.urls-list p {
    font-size: 15px;
}

.modal-header .glyphicon{
    font-size: 16px;
}
.enforcement-status-modal h3{
    display: inline-block
}
.enforcement-status-modal button{
    float: right;
    color: #333 !important;
    background-color: white;
    font-size: 1rem;
}

.selected-items-count {
    padding-top: 15px;
    font-family: "Lato", sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    width: 205px
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', Helvetica, Arial, sans-serif
}

h1 {
    margin: 1.3rem 0;
    font-size: 2.5rem;
    line-height: 3rem
}

h2 {
    margin: 1.1rem 0;
    font-size: 2.250rem;
    line-height: 2.75rem
}

h2.card-heading {
    margin: .5rem 0;
    border-bottom: 1px solid #cacaca;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8750rem
}

h3 {
    margin: .9rem 0;
    font-size: 1.750rem;
    line-height: 2.50rem
}

h4 {
    margin: .7rem 0;
    font-size: 1.5rem;
    line-height: 2.25rem
}

h5 {
    margin: .5rem 0;
    font-size: 1.250rem;
    line-height: 2rem
}

h6 {
    margin: .5rem 0;
    font-size: 1rem;
    line-height: 1.5rem
}

h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light {
    font-weight: 100
}

h1.bold,
h2.bold,
h3.bold,
h4.bold,
h5.bold,
h6.bold {
    font-weight: 900
}

p {
    font-weight: normal;
    font-size: .8750rem;
    line-height: 1.250rem
}

p>a,
p>a:active,
p>a:focus {
    color: #3498db;
    text-decoration: underline;
    font-weight: 900;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in
}

p>a:hover {
    color: #333
}

strong,
b {
    font-weight: 900
}

em,
i {
    font-style: italic
}

strike,
del,
s {
    text-decoration: line-through
}

.GENUINE, .GENUINE:hover {background-color: #006600 !important;}
.INFRINGING, .INFRINGING:hover {background-color: #ff0000 !important;}
.IRRELEVANT, .IRRELEVANT:hover {background-color: #999999 !important;}
.UNABLE_TO_DETERMINE, .UNABLE_TO_DETERMINE:hover {background-color: #999999 !important;}

.btn-sm {
    border: 1px solid transparent !important;
    text-transform: none !important;
    overflow: visible !important;
    font-family: inherit !important;
    margin: 0 !important;
    font: inherit !important;
    border-collapse: collapse !important;
    list-style-type: none !important;
    color: black !important;
    background-color: transparent !important;

    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    -moz-user-select: none !important;
    background-image: none !important;
    border-spacing: 0 !important;
    border-collapse: collapse !important;

    padding: 5px 10px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
    background-image: none !important;

    border-radius: 3px !important;
    border-color: #ccc !important;
    box-sizing: border-box !important;

}

.btn-sm.active{
    color: #fff !important;
    background-color: #31b0d5 !important;
    border-color: #269abc !important;
}

.btn-sm:hover {
    color: #333 !important;
    background-color: #e6e6e6 !important;
    border-color: #adadad !important;
}

.btn-sm .glyphicon {
    top: -1px;
}

.left-filter .dropdown-menu {
    left: -16px !important;
}

.btn.datepicker-btn {
    background-color: white !important;
    color: black !important;
}

.top-search .input-group-btn .btn.datepicker-btn {
    background-color: white !important;
    color: black !important;
    top: 1px !important;
}

.results-bar {
    font-size: 15px;
    margin-top: 10px;
}

table.table tr th, table.table tr td {
    padding-left: 15px !important;
}

.modal-title {
    color: white;
}

.tbody-csv input {
    width: 175px;
    border: none;
    height: 35px;
    padding-left: 5px;
}
.table-csv td {
    padding: 1px 5px !important;
}

.table-csv th {
    padding: 10px 10px !important;
}

.thead-csv {
    background-color: #F9FAFA;
    border-bottom: 1px solid #DDD;
}

.table-csv {
    background-color: white;
}

.thead-csv input[type=checkbox]{
    width: auto;
    display: inline-block;
    height: auto;
}