<div class="page-content">
    <div class="container-fluid enforcement-app-container ng-scope">
        <div id="loading-bar-container"></div>

        <!--search-->
        <div class="panel panel-primary panel-search left-filter"
             ng-show="enforcementCtrl.isShowSearch">
            <div class="panel-heading"
                 id="toggle-searchbox"
                 ng-click="enforcementCtrl.isShowSearch = false"
                 role="button">
                <h3 class="panel-title text-center">
                    <span>Search</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </h3>
            </div>
            <div class="panel-body panel-primary">
                <form class="form search-form ng-pristine ng-valid">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text"
                               class="form-control input-sm ng-pristine ng-untouched ng-valid"
                               placeholder="Title"
                               ng-model="enforcementCtrl.filterData.title">
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <input type="text"
                               class="form-control input-sm ng-pristine ng-untouched ng-valid"
                               placeholder="Description"
                               ng-model="enforcementCtrl.filterData.description">
                    </div>

                    <div class="form-group">
                        <label>Seller name</label>
                        <input type="text"
                               class="form-control input-sm ng-pristine ng-untouched ng-valid"
                               placeholder="Seller name"
                               ng-model="enforcementCtrl.filterData.sellerName">
                    </div>

                    <div class="form-group">
                        <label>Item ID</label>
                        <input type="text"
                               class="form-control input-sm ng-pristine ng-untouched ng-valid"
                               placeholder="Item ID"
                               ng-model="enforcementCtrl.filterData.itemID">
                    </div>

                    <div class="form-group">
                        <label>Submission ID</label>
                        <input type="text"
                               class="form-control input-sm ng-pristine ng-untouched ng-valid"
                               placeholder="Submission ID"
                               ng-model="enforcementCtrl.filterData.submissionID">
                    </div>

                    <div class="form-group">
                        <label for="ch_label1">Marks</label>
                        <select id="ch_label1"
                                class="form-control input-sm ng-pristine ng-untouched ng-valid"
                                ng-model="enforcementCtrl.filterData.mark_id">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ch_label2">Enforcement status</label>
                        <select id="ch_label2"
                                class="form-control input-sm ng-pristine ng-untouched ng-valid"
                                ng-model="enforcementCtrl.filterData.enforcementStatus">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="pub_date">Report date</label>
                        <p class="input-group">
                            <input type="text"
                                   id="pub_date"
                                   class="form-control datepicker"
                                   show-weeks="false"
                                   datepicker-popup
                                   datepicker-options="{maxDate: enforcementCtrl.filterData.reportedDate}"
                                   ng-model="enforcementCtrl.filterData.published_date_from"
                                   is-open="enforcementCtrl.datepickerProperties.isOpen1"
                                   close-text="Close" />
                            <span class="input-group-btn">
                            <button type="button" class="datepicker-btn btn btn-default" ng-click="enforcementCtrl.datepickerProperties.setIsOpen(1)">
                                <i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </p>
                        <label for="pub_date">Detection date</label>
                        <p class="input-group">
                            <input type="text"
                                   class="form-control datepicker"
                                   datepicker-popup
                                   show-weeks="false"
                                   datepicker-options="{minDate: enforcementCtrl.filterData.detectionDate}"
                                   ng-model="enforcementCtrl.filterData.published_date_to"
                                   is-open="enforcementCtrl.datepickerProperties.isOpen2"
                                   close-text="Close" />
                            <span class="input-group-btn">
                            <button type="button" class="datepicker-btn btn btn-default" ng-click="enforcementCtrl.datepickerProperties.setIsOpen(2)">
                                <i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </p>
                    </div>
                </form>

            </div>
        </div>
        <button class="search-open-btn"
                ng-click="enforcementCtrl.isShowSearch = true"
                ng-show="!enforcementCtrl.isShowSearch">
            <i class="fa fa-search"></i>
            <i class="fa fa-angle-right pull-right" style="margin-top: 3px;"></i></button>

        <!--action-->
        <div class="action-block panel-search"
             ng-class="{'list-with-details' : enforcementCtrl.selectedArray.length && enforcementCtrl.isShowDetailsBox, 'without-search': !enforcementCtrl.isShowSearch}">
            <div>

                <a class="btn btn-default inline-block" href="#/">
                    Add post
                </a>
                <button class="btn btn-default inline-block right-btn" type="submit" ng-click="enforcementCtrl.importCsv()">
                    Import CSV
                </button>
                <button class="btn btn-default inline-block right-btn" type="submit" ng-click="enforcementCtrl.exportCsv()">
                    Export CSV
                </button>
                <button class="btn btn-default inline-block right-btn" type="submit" ng-click="enforcementCtrl.delete()"
                        ng-disabled="!enforcementCtrl.selectedArray.length">
                    Delete all checked
                </button>
            </div>
        </div>

        <!--list-->
        <div class="page-content-col" style="background-color: #fff;overflow:auto;height: calc(100% - 150px);"
             ng-class="{'list-with-details' : enforcementCtrl.selectedArray.length && enforcementCtrl.isShowDetailsBox, 'without-search': !enforcementCtrl.isShowSearch}">
            <div id="listScroll">
                <div class="text-center any-search" ng-show="!enforcementCtrl.genericList.length">
                    <span class="glyphicon glyphicon-search"></span>
                    <h1 style="">Your request did not give any results</h1>
                </div>
                <div ng-show="enforcementCtrl.genericList.length">
                    <div class="col-md-12" style="margin-top:0.5rem">
                        <div class="search-info">
                            {{ enforcementCtrl.genericList.length }} results found
                        </div>
                    </div>

                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th style="width: 15%"></th>
                            <th>
                                <input type="checkbox"
                                       title="Check all"
                                       ng-model="enforcementCtrl.isAllChecked"
                                       ng-change="enforcementCtrl.checkAll()">
                            </th>
                            <th style="width: 15%">Brand</th>
                            <th style="width: 15%">Platform</th>
                            <th style="width: 20%">Profile name</th>
                            <th style="width: 20%">Profile ID</th>
                            <th style="width: 20%">Profile URL</th>
                            <th style="width: 20%">Profile Followers</th>
                            <th style="width: 20%">Profile views</th>
                            <th style="width: 20%">Profile likes</th>
                            <th style="width: 20%">Listing ID</th>
                            <th style="width: 20%">Listing URL</th>
                            <th style="width: 20%">Evidence URL</th>
                            <th style="width: 20%">Listing title</th>
                            <th style="width: 20%">Listing description</th>
                            <th style="width: 20%">Listing image URL</th>
                            <th style="width: 20%">Detection date</th>
                            <th style="width: 20%">Post likes / shares</th>
                            <th style="width: 20%">Post followers</th>
                            <th style="width: 20%">Post views</th>
                            <th style="width: 20%">Connected to</th>
                            <th style="width: 15%">Product</th>
                            <th style="width: 15%">Country</th>
                            <th style="width: 20%">Mark of content</th>
                            <th style="width: 20%">Infringement type</th>
                            <th style="width: 20%">Enforcement status</th>
                            <th style="width: 20%">Escalation status</th>
                            <th style="width: 20%">Reported date</th>
                            <th style="width: 20%">Removed date</th>
                            <th style="width: 20%">Account status</th>
                            <th style="width: 20%">Submitted by</th>
                            <th style="width: 15%">Comments</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="channel in enforcementCtrl.genericList">
                            <td>
                                <span style="top: 5px !important;" class="glyphicon glyphicon-pencil"></span>
                            </td>
                            <td>
                                <input ng-model="channel.isChecked"
                                       title="Check one"
                                       type="checkbox"
                                       ng-change="enforcementCtrl.checkOne(channel.isChecked, $index)">
                            </td>
                            <td>{{channel.brand}}</td>
                            <td>{{channel.platform}}</td>
                            <td>{{channel.profileName}}</td>
                            <td>{{channel.profileId}}</td>
                            <td>{{channel.profileURL}}</td>
                            <td>{{channel.profileFollowers}}</td>
                            <td>{{channel.profileViews}}</td>
                            <td>{{channel.profileLikes}}</td>
                            <td>{{channel.listingId}}</td>
                            <td>{{channel.listingURL}}</td>
                            <td>{{channel.evidenceURL}}</td>
                            <td>{{channel.listingTitle}}</td>
                            <td>{{channel.listingDescription}}</td>
                            <td>{{channel.listingImageURL}}</td>
                            <td>{{channel.detectionDate}}</td>
                            <td>{{channel.postLikes}}</td>
                            <td>{{channel.postFollowers}}</td>
                            <td>{{channel.postViews}}</td>
                            <td>{{channel.connectedTo}}</td>
                            <td>{{channel.product}}</td>
                            <td>{{channel.country}}</td>
                            <td>{{channel.markOfContent}}</td>
                            <td>{{channel.infringementType}}</td>
                            <td>{{channel.enforcementStatus}}</td>
                            <td>{{channel.escalationStatus}}</td>
                            <td>{{channel.reportedDate}}</td>
                            <td>{{channel.removedDate}}</td>
                            <td>{{channel.accountStatus}}</td>
                            <td>{{channel.submittedBy}}</td>
                            <td>{{channel.comments}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--details-->
        <div class="sidebar-enforcement ng-scope details-info-box"
             ng-class="{'hide-details' : !enforcementCtrl.selectedArray.length || !enforcementCtrl.isShowDetailsBox}">
            <div id="close-container"
                 ng-click="enforcementCtrl.isShowDetailsBox = false"
                 role="button">
                <div class="close-left">
                    <div class="close-right"></div>
                </div>
            </div>
            <div class="selected-items-container">
                <div class="selected-items-thumbnail">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 56.5 71.5" style="enable-background:new 0 0 56.5 71.5;" xml:space="preserve">
                <style type="text/css">
                    .st0 {
                        fill-rule: evenodd;
                        clip-rule: evenodd;
                        fill: #525352;
                    }

                    .st1 {
                        fill: #3B97D3;
                        fill: #3B97D3;
                    }

                    .st2 {
                        fill-rule: evenodd;
                        clip-rule: evenodd;
                        fill: #757576;
                    }
                </style>
                <g><image style="overflow:visible;opacity:0.55;" width="241" height="292" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPYAAAEoCAYAAABrUQwjAAAACXBIWXMAAC4jAAAuIwF4pT92AAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAFXdJREFUeNrsnYtuqzoWQG3Cnf//
3xPw6EonEuPxfhlDgKwlRU3TNE2DF/uBMSkBAAAAAAAAAAAAAPwKmf8LfpiC2LxnQH4kQWBAeOQZ
/V7YKcDZchbE3vf3kRauLn/5VbHzwe8P+eFIAcvVBc8X/Hv5hPeN+Ig76vfLFQXPF/k7e36ekRpO
SqPLzr9XniR2j5SRxzMiwyDRy8GPnyZ3vpDQnsfyANGRniitPbd0PCfy2CmC55NfNypvPlFydgTP
rJNHyFw6n7snsl9uoHqlzgffP+J/ROx7i21JN+q+V/jD5D4jokWF1h7zPp8anJ3AHrG1x0rgd/dG
9EuI3Sv1qK/e9ByZf1vyEhA7+tWzAzhF7vwFqT1fvY9JgkckR/TnR2tvFNW+eh/rjeRD5c5flNp6
rL7veY3eCI7cvyt2RGLpOT2R/VC588lS90icA78bkRyZf0tyT22s3S/K4z2yHyr3fHDN3iOv9niP
4NTd1NTetFuTub7lhtzae8vV1+24u1TzLAel3iNy7hDdE8UR+7fEHiX16oji3gju7QOcErG9h5D2
yDsdLPjoHRucVzNHf3e00FmRuzdyt8ZXOVtsbZBHpZ6Mx6YO6b3NtV5BkfqaYvc0ySSx18b32SH3
KshsyT00JZ8HDOps1NTJKfSkSD0pz6lfQ9qpJCN6I+3z0m9vk0yLzqsgYy36R+ipIXiv3N2yj2ye
SRJFhZ6c94+I3oh9f7EjMielZt4Ku/4dZ1uZ80be+rVagpdqfEXS8sPFjnSYvTW0JnHrJv1O/brJ
EByxf0NsK/VejUi9bm7b8bRuxosmeBbenyTzkKg9usYeLfPLkHsKRG+P2Eh9f7k9Ymv19CpI/bkt
guDbv72N8FOj7m4J/rUau3fKpia5dnsZcmtR3JKbWvvZtXVK/m63FqElqRdhfG0FXh1jLB0VtUdE
7OyQODvT7Jfzq0fw7BQcuZ8rtqfjbQm9CFIvzvFRR+0ijLGhUXvUceysRGpv1H5VAre+b8n9cjTY
qLWpr60IXSqRt02zpWqaLUbWVxyZorWTOuU4tieieWaTaZFauk3KY73ROwUjN9xHcu14tSftflWC
b8dUnYIvzp3OWtXSqZFqW1E7JPp80AftaaJ5pJ4dsrcabTkoN4205zXNUrIPYZVGyv25vz281Ro7
2nsqQuSuBbai9qmpeHZInAyhsxK1Z0Xs2SF4pOaORmxkv1ZNHW2aeerp5e94WjYRenKUc6lRBkwN
wZMQtYc0zUZEbE8XPDmaZ1q0niuhZ0fK7pU7JX+HHMGvKbQWKVNA6qUSe0ntORJZqZG1E0CmKkrn
RtTevtbuJto8eBBLiyFMQuSWaui5ukmif+5rkXt01Ebya8g8Klq3pP739u4Qu/W3t2O+NKJ3CY61
MkrsSBqenKm4JPUcuGmpeTRq00B7TuOsJ1pv5X5vIvY7WF+Xv+OvKILXE1Ks9PurM8+SU2pJ7smQ
/B9D8FZa3pJbmnKakPsRUtdyt2aUeVJwj9D1jmPaSL2dJ56rVFySe2gjbeT52J5ppZLcUjd8K/U/
guitxtpkyG2l48h9v5TdSsO1aO2prSWp6wkvn99fhfRbkrs77T4qYkcXUvAex64jtiS41FTzdMmT
ITeC36MGl87iWgNif1Jwz+Et7QywqZLb8uESZ3dJQmtSeKSenHW2JLjUTPNG7Z5UHOG/30TzHrv2
ROtWCp4aabKVEXjkbkXmoVNL58DgzQHZo5HbOuS1lfofIS1vpeOvYDpOSn7fFFxLkbXaetssk8aE
JPESLPlama11LLt+zCX9iAkq3prbOvVyUiL3P86obXXJIzPRkPp+TTMpTS5KwyzaLJOmn2rjejVe
e3idPfLsrujKo9GJKrXI/3FEbe+hr5Tojj9Jak/E3h6r9kTrrcyfmWn1V0/EPqXOngdJHU3JPadt
WlF7bqTlUkoerbM5jfP6tbYltXWY621Ea+l1FkFu7xg7ZRztOdzlObMr2kCT5oxvH5PScu3Y9p7D
Xgh9XcG9q6NIdfHbWVPXY7CWexIE91zkIh/RQDvy7K60MyW3ZqVJx7Vno4nmmTuOzPdMx61U/CPk
O5h+L0k/R8HbOPPMYEvppLni0XS855h2ViK3dJaXJrqVjmsz0EjF75WKb0VMRn3dOqe6lX7X9fQ2
SrfGqba4pnaYa6jMR0Rsq+OXkr5ssDdqt04GseaSW+dqI/Yz6+xWtJZS5Frq2YjU1qHUVvBIKXbY
6/LNs1Zt4Vn/TJK6Ne3Umkf+eS1pAYaI3HDNdFyacVY2Ui9Jnya6lbpVT1vn/3vKvUNTcI/Ykatn
eBttexY7fCkpuiR5aw8bOT8bwe9TX2sRe7temVfqSE3tWV8v7/AnfDmgI5pn2vWppX84EsE9J45o
qTjHsp8vdn3ljnrJ4KQ0yqJr6/UswZWPHlfzQSL3XGFTq7mjcnuPZUcaaAh+rTpbSsVbUkuLD9ZC
LwGprYtEpmQvpZSv2DzLQrodrcGlLrknLZfWHtcWPMxJP85IxL53xK6l3tbWLalfVaNsSb6TiKKH
uLSAMfyqm/MJG6LnQvbe63hpVw2R7k+I/biora1W0rqGVtmMi+0iCYsz5Y7KnM5Iv8+qsXvWIu+5
eoh2qExbrYVFF54ldUr/f9lb6Tj1q6rFPbfIVWbStyU/euaZlX5EI7onklvLL3kXXUDoe6TiteDb
a1a3mmTb540Q2dsYO3UsjVwaSUvDU4qdo6pdoVO7WmfkSp6S2KTi15Zamk/dWvZXEntN/muwRy8Z
NSJSf2VKaR4gvJa+93bRNbmtJkhKvjO8kPy7EVq7aHyupJXEXo1gEelyWyJbMh82Z3w+eSP1LF+c
gqJrkVs7REHEviatFTy1JXzrFUK327u+brV3fndkjbxLBIKjppRqcnjnlfcIPjm+P/LiAXC85N4L
xm+zsVLJnYM1dA7I7TnpIwf+v683z3r2Xta01egHHo3uiP086ddN5F5TbFUf6/JPOekTsvIgL74e
sUe80ezc63kjePQ5HOp6VmNNCxaeWtnqt/RMCT29X3PGQgsjPoDsiPDWLB/Pnha57yGv5+fF2IFb
UnvHcnR8nzKW5i9upD0foHeP2jMJhXXPriez1EjTrlppHXLyNm57A85X+UZXPHIsz2qw9ewxoxEb
kb9fO7dE15pntfDe5YhSUOgR4/xxEbtnw1qdRqvG9qTbnh0Gsp8frevP3hOxSzD1zsHxd1nmi0i7
N/3NwQ2Rne8Hka8Zrb0R2ztWPNvbM2YyYu+TZs9qFJHXQehril46tncO/s6tt/18w40arc+tQyA9
AwDhv5eKS5FZaqxpvZXHSj49MF3rfZ43HUPqc7dt7txWo8cHYt9Q+p/b8GzHZzMN+qC+9cHnzveR
GQyPlnvPGPrGuBieCU6MFwRmmxGxr7jHPfq9MnCuKfGVxsjlxvJ0QanZO8MTM4L8RLEBALGJzkBd
T8QGAMQGQGwAQGwAQGwAQGwAQGwAxAYAxAYAxAYAxAYAxAYAxAZAbABAbABAbABAbABAbADEBgDE
BgDEBgDEBgDEBgDEBkBsAEBsAEBsAEBsAEBsAMQGAMQGAMQGAMQGAMQGAMQGQGwAQGwAQGwAQGwA
QGwAxAYAxAYAxAYAxAYAxAYAxAZAbABAbABAbABAbABAbADEBgDEBgDEBgDEBgDEBgDEBkBsAEBs
AEBsAEBsAEBsAMQGAMQGAMQGAMQGAMQGAMQGQGwAQGwAQGwAQGwAQGwAxAYAxAYAxAYAxAYAxAYA
xAZAbABAbABAbABAbABAbADEBgDEBgDEBgDEBgDEBgDEBkBsAEBsAEBsAEBsAEBsAMQGAMQGAMQG
AMQGAMQGAMQGQGwAQGwAQGwAQGwAQGwAxAYAxAYAxAYAxAYAxAYAxAZAbABAbABAbABAbABAbADE
BgDEBgDEBgDEBgDEBgDEBkBsAEBsAEBsAEBsAEBsAMQGAMQGAMQGAMQGAMQGAMQGQOxzKWweYGwS
sQHgZLHLoL0cURzuFp3LN8bu9NAPc+TfZ2dyzXFRfnyMHi52+eI/2buhCxnBoyNqOWEMXTGjvXTE
Ll/6XUqAZ6fEPzUupodv8JF7Y+R+xs7+J7K16QcHRnFu8HKxsuNXhS5BWcsF6/HTmW8op6fLWJQN
nIUNnoXnEL3vs8Muzp8XZ+Qud93e0wU2TNm5QXs++HLw+4PvjpcyYDyNGJc/H7GtPWPv3lX6eRYi
s/Sz+u9nHPt6bW2VVJ6SqwRS9tI5dn9C7NKxNywdIhflfq6+1sLWP8uk4rfolxRF6uJIxb07gqPG
+WMidnF+OJ76uQQ/7EjEJlpfM2p7InY0dfeMK+s1L7HTny+4AaOd0NaGlG4tga2InYy0HL4nuRWx
I+OiOEs6LcA8OhX3dh+9eztvimWl5qkRsZMgeEt2uEcqXgzxLOk95V1vhD5tZzAf9IFHpS2OxyNS
F0ckt6I33Ffs1RGdNcGtHYM2Zi+Rus8DPuTc8Tve5kXZeft3A0+b+7l6PG0ep3a+r9RRuSPPsYKC
V/wRwfESNXbPgX5PV9u7sT7y1kKnjezSjkpqniH/9+tqrR5eG2NhVcaHV25rTEYc8ApcriR2z8SA
nnR6FR6TpM4bYUsVwSdB6kLj7JYRe1V2+OsOuYvR8ynpuIlSp4hdOqNXZE/o2cOuwsZcK3GzkGrn
Sv5U7QBonN1D7tbYWSuZ61tkPPV01bX0PfI/ljPF7pHZU2dH0+zWXrgldS1vnVbXUifluXCdlFwL
DJbYrZ9LUd0b2T2R+7RJK/NJMkcON3j2vNpGW6oovSiylkZER+r7yi2l360xsgTE39NY835/ebG1
fyTSzfbsdVsbbBIEr9/DJAidkfr2dbYldeu+5zaik35Kr2be+QFnR4pRnJKvjT1kVOipEnpR/ub2
kFdWhEbu54i9NCL2EpTcG8mjZelQ6edBH3R2pBuR44kekbf3Xxu5pWZZS+pVqLFJye+Thrfq7Fa2
9xkz743YmtyLIXc0VfeUpbeosb3HpKMpd73Xnf5urGxI/Ur6oTDS8edF7CKMmbdwXxLeI7jVSNsz
1fpSNba2EbxNMkvq9yYF16SeNpnFVH1F7OeJXdfD9bj5jJ33ALmt2vvQyNwjdp1iSwsQeJYR0vZm
ltyLcHsL0br+2+vfaL02pJ4CqThcW/B69lk9nlpBoSW3Fc09Uq9JP6fBW26k3p3DPPBD9qQhkQi9
KHvaqVPqqSNiU2dfq7burbFbdfa7cauj+SKMxb0pekoHLsgwunnmaXJIEwC0lFuK1lJdXb/uZIhN
xH5GOh7JADW5343x5knRextnt2iepdR/vHrpqKdbx6nXTbT+dM21aJ2NaI3k14zcngkq3nT8c/tj
SC6N0+gx7q/V2JFI3TMHvARr6iXp3e/t682pfShsckpNKn6fVDw6+2wRmmi11H+EdPxt1NxaBE+O
2nuI+PNOqaXmmXX8uvVhv4x6OitCpobUL0HqKSA1It8nDfeONSkd/2MI/jaaaUsgLY+suvv1Grtn
EQRJcE89nZVI/drcvPU1Uj9Pbs+RlrcjalvNNG+t3SP7V2tsacVPTeTWzKAp/e+kk8kRpVt19VZq
T30tyYzc90jPI4dRlwOi9pL08xs8002/XmNrx649x6s9k/Q9h7PqaP2J9LMgtScNR+77Sh2ts+vp
pa2o/UeQ+m3U2NqU6ZT2HdceInZrkor355H026qjPYe0tjW1Jw1PAblppF2naeZJySN1dh25tUit
RWyv5JErk3TX3iO64vVqI721tedQVGsD1pFakrq3G47A1xe+91wEae742ym4J3J7zgIbfobX6OWH
syH0dkWTemEES+hIpNZS8PpUTRZYeH6d7Y3a2oSVOi23InZE6uHsPdzllbteKTRXUrcWRvCcelk3
y6TaWptCSkf8GXJLUTs6w1GakfbHUWdH0/HD1hufB3+42SH3dhGErAgt7ThWo1nmkZqppM+Vu3eK
aauZ5p1yKh3+suaMp3TQjLS540PMju9LI0K3BK/l1v6ut1l2drRmR3B+06yngWYtwLAoDbW3Irrn
FE/rOmGeEmO42NGrfbQuWbtNv3NDbq2BJdVKS2cKrjXNMjLfUnLvtd2ss74Wh+DW+duS0GvjPR22
0xs5Vzw1UvK61smbfzAn32qi9UZZku/QljUhpSdaI/Q1Bd8btT2nCu+ZL26tsHKJrrhnsQVtZYtU
RW0t9W59AFNqn+AhzTDrXSkFie8le89qPSXJ6+hZUdw6lm2tiRb9n05vnlmNNCkl8qbA9R5wSvJZ
W9Haem99DddsoEXk9i7DZX0f7YYfegrnHPjgrMNbKbUnkuSG0JZIdYRuLZpQR+ocSME9MiP5/dJz
b4dcu5rMogju+SrJnZJvCeIS+H+HR2xrvnhy7kFXx3NfVQpeR+bF2SyLdsER+341d6TW7lkl17tM
ceRSvWmEyEek4lrU3r7B7bK/ntespW6l2Z6aOhKtkfl5tba3maZdy2tNfVcP8dbVw2ehzR0Ce9Jz
ayPU0Vrbo02GxPV00Zz2TUZB7uen4ynpF6roWe/eurBfJGLvbqKNPh9bOwRWR+2p0UTT6iEp3a5l
lhYp9KbhiP0ssb2RW7vCpiZ5j8xas+/0iB2N2tZlf9aGbJ8InVL7cjxWuj05hGZds9+pta2aOyki
Wpds9lx2t+dY9Wkzz3qjdmlIuxV6MgTPja+rs0EWmTbaIzLyf0/aPfX2iOitSewV2jO1dBd50O+1
RNEiZzbqYm/dnI3XT4nJKDTS2hJFrk5TOkT2XEQjpYPWGj9izTMpcqfG99uIvb1tr19dOiKzN/3O
X9gpwnER2xKkdEZvj/RpsNSn1thWbZ0cclu/k51CR0TmuDX19mjBoyJH0+9dou8dzNn5vSeyWml1
JEL3RGnEfr7YUbn3yBuRevjlfo6YK26dn70naidnpPYKjcy/I7l1DS1LxKi4xdiRHJKCjxzYHmFy
4Gtv3ezNHojWv1eTeyNk6ZA9dXz17oC+3gDqkTsieG/9TNqN6BHJy+CvX5F69ACPyN0jeuT3I/8j
kv9G1I6k6B7Zex47ReojBnVUbo+gkQkmR9fR7ASuJ+vRtXf0fk9j7DITVHpeM1ID90h8RnMMse8t
tlesslN+r9CHSH3kQI3Utr3CR+tqRGVHMFryvRG5pJMFPPq188DHqKHhrBp8xGOHS33WoO85zDTq
cURH5BHPH/X44UKfPcjzgT9nvjeMlGePlIdOE73ywM4nPgehoZzw++WE93GbAX70FTcQF44Uvxz8
+rcVe8/fR1q4uvwl3VCsO7wX5IezBSzpoTL90nsDKAl5EB4QGEn4vwBpAQAAAAAAAAAAAAAAAH6V
/wowAEHNKxvhVcvwAAAAAElFTkSuQmCC" transform="matrix(0.24 0 0 0.24 2.4305 2.4305)">
                </image>
                <g>
                    <g>
                        <path class="st0" d="M10.4,10.4h37.7v50H10.4V10.4z"></path>
                        <path class="st1" d="M49,61.3H9.4V9.4H49V61.3z M11.3,59.4h35.8V11.3H11.3V59.4z"></path>
                    </g>
                </g>
            </g>
                <g><image style="overflow:visible;opacity:0.55;" width="241" height="292" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPYAAAEoCAYAAABrUQwjAAAACXBIWXMAAC4jAAAuIwF4pT92AAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAFPhJREFUeNrsnYuO4yASAMHJ/v8H
79icTtrRIQ76gcHGSZVkTSavycQU3Q3YDgEAAAAAAAAARhD5/wBCouHz2QH5kQOBAeGRZvRnolOA
q+VMiH3ucyAtrC5/+lax4+TPifwwU8C0quBxYaHjBZ8f8RF31OvTSoLHxYQ+83hEcBgoUjrxvulu
weMiUsfJ9yMzpAHPHXX/dLnjgkL33hcRGQaKngzPP3PfVMHjTVL3iBoHi470yHtG5DSoI5gid1xA
aqvA0Sh5vOD/pCN4Xs1sfb9klDkNFH74/xYvlNoqtCZwj+yk6nQCXqm1257Hz0b0JcT2Sh0N90XH
cz1pOTJ/t+SW6CzdlxzPvVTueKPUVpGjU3ZPqo/o3xetrZHU87NX9Glyx5ultgqtie5J05EbqT3p
tiayR/DL5I6LSC3d1n7XIvuI+hs+R3JrbawJrP3uiebD5X5P+kItUmsya/d7Bafupp62ptya0PkW
K3JLny0WP/N2t9TgWRwgtVVkbfPIjdjfK7ZHau8WDPd7IneX7O/JHUNLao/A22TBz8pMR3Bfzex9
7SyhD0fU1iJ3rX2lq8WWGrlX6k25b3NI3/p7ZwbV4LmdgaWW1sQ+hPui8Hgpsyb3kJR8ZKTqlXpr
/L4J923BHtFb0duamhOtnxm1vSPe1oh8NH627it/b3Um0md2fwczBs+kmjo4hN4c97UiuSVyU2t/
R21tjdRSZD7+ta2jEm2Pyvv/3rcV75O3L09aPl3snhFmrYZuyVtuVsE3Y2re+vyI/XyxpUhd+/0Q
hP79mct9ZGl4KG7XBI+Vz9OS+dSo+awaWxPaK7O0la/X0vNWFoHUn19bW1LvMrUupc6FLrej8rfz
jmArnlMTfEjUfp+Q1xKtraPelu3lkNwqNyn5d6fgyRihW9sutLFc4MPQzoZG7ZERuxUNW7W1R+ZX
Re6XUfBoFBy5P09qq9DJKPRekXp3tI8yaqdKGxsStWfOY3vnnjWhW7fL10Wj4JaUHKk/o7a2TmXl
qfdekXr79zOXWsr6kjFblDqpS+axtYgWG6l6rERtS5Qut024ryd6B2fkhudIbk3BW1H6VUTprUi9
8zp7d3Q65Yh6WWdrUdsk+sy14tYVZi258+3dEL0WxXPRo1NuBtI+b8DMKnVqpNv5wFe+7YbPlITI
XUocwsC14u+T8moCWISODaHfgthvo+DWmtsbsZF9rZq6t7ZuRevfdPuV3d6M5VyolAFbQ/DQkPr0
ASIjIrY0tRWCPt1lidbvQmgpgrfS86jsnGAYuUTwNYWWImVwSL0XYu9KGwrGjiRkgqdK20vBN8c9
VOzYIXyrvq5F7pcgdSm3RfBS7tFRG8nXkHlUtK5J/bv9CEHBWtPn7b1cbeZNxVXhZ608k9aKa6Pg
NaFbWyuKt9JyLWozgPY5A2c90TqX+6eQ+keQupZ+v0L7+O18sx4MctvKMym9taTiL6HWzrc/iuCW
lLy1njwg90dI3ZK7tqpMSsH3itQtkfO15K8i9T4q0VqS+/RA2qx57NGj4bnUf5QI3krLa3Jr6Thy
Py9lt6bhtWhdiv1jSL9by1G3TORNiNgxyMtJlzge2yq1FLVbdXYu9Z9G9JYitzYIEpXBMwRfvwbX
Dsk8DGL/NAbNpGhdmzb7fW15RFjskDvcIbZHDEsqrtXZkuDSgJolavek4gh//yCad+5aitZ5Ct5q
F9p7v4xytwbFovP/7xa7Z9llz8Efr2AbHc8Ft9TcUq3dSrVIyZ+ZgnvS8NpgmTRQZukojlBf0GKN
2JqHpqmwkQtULOJL010tyVt19p9G9G5F7taKNOrs76mvayvMapFaSr/LFPwd/n+lWiuA5IIHJWqf
qrNnHo+tnQ5p66iz34Lg+f2WWrsmdwiMjj9VbG0eWZriysW2DJYdjdT7VQgelagdZtXZ7wu+/N6U
fFMG0qSaW4ranjqbwzifUW97Dvioia3NVUu19O+WL0G1lHyWOfHbxLacKzw4pH4FfWnp2yD42ziI
xrTX96ThtWidt4Wfjpp6r8i9VQS3BJBa1O4eQBu9Vtwy8DZiMO3lHEgbUWcj99qR21tfv4qIbUm/
j2BfK+E9g89SEVtr+J457dqRXpapsD/C71o6rs1nI/Pz6mzL/PUryEdsSZF6D/oZfaIjFW95s1yN
3er5Slla5wj3nHjBsrY8l9tyYAg19ufV2LUDPjZHPe05inBrtGnLlHEMCy1QCQYJtKt/WM59VhO8
dtSXttS0PIWStG4ciZ8fsctVYbUR8NAQO5/O2oPt2H/PAG1UvJl6tU3pCh+9kdwyqBaDbwHLS5Dc
U2e3/k8EX1toa8QuT2tkkdq6ktFznbkef8yXA5o93RWVzsF7EgbrlJh03DZiI/ZhkDqfm+45/bVn
ufLwtnXHRfm09Hyk3N6FKpZUHMHXqrMtqXi5OGRXpC7Xe7+CLd32TG0FRfolBs9io6aWHvdcPrfn
3OPaqZNadRAR+7MitnbwRS1K59NhL6PQ3sUo0gDapadGGiF/VOpuyzSYR/JWbY7Y35WKt+RKRRvJ
I/Qe/JeWsgo9vS29F5DZInnPdb0kkV+B1WefmI63Fqe05qlflZTdc704r8zaKcQeI3YwiGE9/7j1
IBLLlBmLVD4zakuLU1qdQM9FH60RWitLp7WtK5aU9qbh2hU6vVfubNXr2sg4Yj8vHW9dWL4UOglt
pbWAynM11xHp+OWnRuo9qX40vvas9NbBt9bJDZF7famli8fn6XXrJAyHMVh4o3SPM3Gk3O8bd4wU
wUOwT41ZBtxikA9+9y7SR/L7I7Qk9S/lWUJjcZ+lfVjS7KiMH13eZkaepTR2PMcyqHBGcEneLYy5
xC7cEww8F4yvnfp3EyK2R2jref6Cs01NX1J6VZqupcEzNlLxz5Q/T7VDsJ9zzLsFZ3u57JpwVy0p
7a0ztC/RmhqF0N8jI/Zza2/rdeU8ty3Z5u2Xh7qqxvb+s5ZpMUvqHpTnS/Jrr4M15JVq8db1p7Xb
lmMczshpHWxbXuyeWt3yBVovKWSN0hyT/ayBs9rgWasT6B3dti4DXSoQ3D0q7pn6snYG3s4kGh9D
5HU6/zIKS4Nn0RDhPeM93ix06kkLV4/YvVHdE/U9J5OzdhbIfn20DpU02xKxk6PGtpRvS/NeTNwR
6a832lojNiKvF609EdsaKM4svOrNHr86Yo9Oc+Kk58J1oqfJ+/CKtoXYHT2ido4py2MIv2Yq3orK
UUjFtfR7RJtbgu3DU7ae51nS74jUt5Vp3n01un0g9gOFJy1nP34E24QvPt70xfeOWlJrf7bcsbPt
3tUuhji00U4QmH1GxF6pFr76c9Jw1pR4pTayTHveFv4S6J3hEzOC+IliAwBiE52BtknEBgDEBkBs
AEBsAEBsAEBsAEBsAMQGAMQGAMQGAMQGAMQGAMQGQGwAQGwAQGwAQGwAQGwAxAYAxAYAxAYAxAYA
xAYAxAZAbABAbABAbABAbABAbADEBgDEBgDEBgDEBgDEBgDEBkBsAEBsAEBsAEBsAEBsAMQGAMQG
AMQGAMQGAMQGAMQGQGwAQGwAQGwAQGwAQGwAxAYAxAYAxAYAxAYAxAYAxAZAbABAbABAbABAbABA
bADEBgDEBgDEBgDEBgDEBkBsvgIAxAYAxAYAxAYAxAYAxAZAbABAbABAbABAbABAbADEBgDEBgDE
BgDEBgDEBgDEBkBsAEBsAEBsAEBsAEBsAMQGAMQGAMQGAMQGAMQGAMQGQGwAQGwAQGwAQGwAQGwA
xAYAxAYAxAYAxAYAxAYAxAZAbABAbABAbABAbABAbADEBgDEBgDEBgDEBgDEBgDEBkBsAEBsAEBs
AEBsAEBsAMQGAMQGAMQGAMQGAMQGAMQGQGwAQGwAQGwAQGwAQGwAxAYAxL6WxG4C2iYRG4CI/dAe
jigOgba7XsRODxE40ZksL1l6kPCXfVZScTIC9hmpuOnLvStl6e3FE43nowVOnW33rnYxxKGNxkBk
YD8SsT9lxyfHY2lyZgL9USw593/6FunfD5Y3ORtEaqRbsbgvFo8RvZ/VoafKvk5KmxjZ5ojYA3vy
dLIxXDl2APfUoemiv7NEB/BedGelE19Yq5eWnh8b95WPle8Tcez2Equ3zSTD7Z73WyK6vx+6c5Px
8VYqnoRUPBRSJ0Fiovha7SEpqXgSUnFtVPxRaxreN+8YS6qTnCJ7/n50RGyi9ZpRO518vDf6eurz
y0u594I7LTmFToZeW9qsETsoaTncJ7klYns2T0knlZC3tZH3hTvi7IS/5QtMxh1SeywqnzEi82NS
8WBIr5MjWHgDjseH9ESxvV9AMqQx1npJq7EtU1/wPLGtETp03tZS7KtG7G8RO50QXvsSR25H+N+U
3/FPbGrn50fs2n6e0X5CR9p+ieDvAV+utqBDS4mTI7X29MhHReDUuK/1f7UGz5B/jdraE60PpX2M
iPKWgTPPNOwjB880yc8IfRS3tyIix+L5MYvcKejTXaTrz0jFD2P7yG8fnYIHIaJf3mbeJ7/Y2NHj
eKa4PCm11AuXUsci+pbi16RG5mem4zVxDyViH50p/JkoPDR6vwd9udEo6mh5a/fXeuGYpd1HRexQ
CB8bz4G1xa7J3YrIlt9bweIwRnOpJp96QMr7xh2h7RBLui31xkch9t4QNY/QsSJ4QPDla21L+8nb
w25oM62U3Ru9k/GzL5OKW3eAFqmDcackx8743XmxseV/bxOEJmo/u8ZOSrvZs+3okN0zaq4NEj9K
7LPp+OGU+r876PXv51bcL/1dxP4usWsy786I7o3kPWn47WKnSiTUaiHvdJUkc03qPbTnpWvTXtb6
GsHXTMNbZd3RSMX3SsQub2uSp5OCa8Ev3S12S/AQ+uakrVE6//K37GdUpH4VUh9E7I+P2KnSZn4y
mX8U4Q+j4NYjzEKwL4FessaWdsIoqWtROjZ6w62oramxv1fsX6F/Bsh9OOQeLnKP2LXVZamjoXum
BQ6lNiq3n3+C/ihS52LHityWVBzWFlxKxZMg9o9D9P3EgNrZs7KYOoT34C84KnXDmei8V+T+Fdoq
9fEvDT86IjZ19nr1dU/EzqPvT0VuSfRWPW5J06Wg5vlfb0vFLUvqpAUAWsrditi1FFySuiY2Efvz
IrY2gGaRe+9I0WsDa5aBsyFp+czBM0s9LU1r7YLcP4WcrTnqVHnPlxCtoxKtkXzdyO0p76R0vNz+
NkSXpsg8I+UhTFi0csWSUs8iFGtNncttidL5tgudAqvOnit3z+qzvSH332zzRG9LGn7JSQ9HHbZZ
HizhGSSrLTA5BJGlSF0Omrwr778pYlNjf16NrS1UKdPxv0rUboneWuDiOcmitQa/vMaWagdPpH4Z
onQr/c6lzqP1JtTXTHU9v772DKDVBmL3QuK/ld8lqXdH1J56ksNZNbbWA0kHcZSLTUqhtfQ7ZVG/
lLq3vkbsz0jHtTq7FrVbabmUnluP8w7Bf+jndLGl6a0ofOHl2UykKa4t6HPUofJepdhbI2LHIB+n
jdzPk9pbZx9BHh3/W9lac91anX0E21lXrCXIabG1UyC17utJwbfK9mOoqUuxdyENt0Zri8wIf09d
bUnJPXV2LXL/VWpsLWKPTsnNq9VGjoqXA2jaQpFNScG1iFpbYVRLwVtSS/PXTHU9U3jtWATLisZa
5PYI3ho8OwwiDxk4mzV41qqzk1HuqNTTrfS7Famt0Zr6+jvqbOtSZWle+68jYvecLPH2wTOtzrZ8
uVEQWzugo5aCv4y19WaI1kj9PLmlqH0Yam1tRZpUY2vLTHukvn26qzw9ryR3LnQspK6d/aR3sMwy
xcVS0s+U23tY8C4MplmXnGrz2N7DOi+P2LWlo7ERsTW5YybyHvRVbK256l2J1tGZhnvFpiO4ftCs
dwBNOjBkVwbUJNF75rRD8F+WaqjY3kM1UyMtPxq/74Ugvem3lIJvwbbSLCLzIyVPwk9r1NYOD26J
rtXZ0pTXiGvbDU/FtUvNtmqd37Q7FKLtitjSyKZ1FPxstEboNQU/G7UthwlLv2v1tfcwzltGxbV0
XOs5c6mP0Hcsdyn0HtorzHrnrpH4WbL3nq0nhfoRW5YU3br6zDqHffporysuyhcNKZElDW4tatmC
vLjFKjUDZ583gOaV23M+gCOMWZwybMDsjNiW6a0Q6gtJYkVmS2SsndaovC5XHqmjU2pNaCR/Xnru
GSFvXUVmVwTvOavpoQhtmc9OM8T2DKhpJ0dvRW7p+fnZRcuzoZSr1qSa2ltbI/ezam5vre2N3odR
6J5L8vYOHE5LxaWonX/APH22vm8u9Za9Xkq7rYNlHHv92XInh+BH6DtTbu8VRIIzWk8V2zJoFoy9
UBmptV5NqqFrq8p6U3Bk/syBNI/cPVeiGXGlkCGDaDOPx47ChzmKqHs0anNpjbkWoVsHeVhTcOT+
vFo7BP08Ad4ruUoyS1fuTMpg3+UR2xu1o9L7HBXZfqNzaAh9KCn3ZhCaFJyUXFtPbhVcE9p7qZ9T
0XpGxK5F7VSRNhd6UwQv36u8LI82SBaMkbpHZOS/V1rra6wHiVjTc+/1s49gGwEfNuUVB7++dUH5
IMgWDZHX8ng0pt7U1tTa1tQ8GSO55XHp74UwcJ34DLHPyh0d8vZE6RnHXNMZrBetNUEsF8rzbJ7z
h3ul7voOZs5jS2m55T1j8drRQlNbf2etPVNw6bW96XdXxzaqEUfj7y35pAgenCKfjdKI/flie+UO
g0TWpB52RZCZa8W147PPRG2P0JZIjczfI7llUM0qeDgh8/DL+sxq0BZhouOnR2CvzJGa+Str8tQh
uVf44Pg5tK6e2Yh75PYI7vmJ1MjtlTt0yGmNypdJPashe+TuEd3zeupp6Km7rXJ6Rb5E6pkN2yu3
pza2pNs9dTSSf0/U7q2/LcKeGRhbZoFKz3t7UuUeia8YHKMTWFPWEe+XTsjeK/Tw/212A/WkwL3C
99TSiEpHEDoEPCvwJVJf1aC9g1VxUEeAvDAyVT9zAb3hJ1JYKVL1jEaPuh/RYcTpfUfdP03ouxp3
nPg4671hpDxnpEwTP9fSDTpe+ByEhnTB69MFn+MxDXv2FTcQF2aKnya//+MjFic5gE+UPz1JqCd9
JuSHqwVMnybRN39GoFNAGj47IDBy8P8B0gIAAAAAAAAAAAAAAAAAAAAArMR/BBgAQZlzfFWEcYoA
AAAASUVORK5CYII=" transform="matrix(0.24 0 0 0.24 -7 -7)">
            </image>
            <g>
                <g>
                    <path class="st0" d="M0.9,0.9h37.7v50H0.9V0.9z"></path>
                    <path class="st1" d="M39.6,51.9H0V0h39.6V51.9z M1.9,50h35.8V1.9H1.9V50z"></path>
                </g>
            </g>
        </g>
                <g>
                <circle class="st2" cx="19.8" cy="16.5" r="1.8"></circle>
                <circle class="st2" cx="19.8" cy="21.2" r="1.8"></circle>
                <circle class="st2" cx="19.8" cy="25.9" r="1.8"></circle>
                <circle class="st2" cx="19.8" cy="30.6" r="1.8"></circle>
                <circle class="st2" cx="19.8" cy="35.4" r="1.8"></circle>
                <circle class="st2" cx="24.5" cy="25.9" r="1.8"></circle>
                <circle class="st2" cx="15.1" cy="25.9" r="1.8"></circle>
                <circle class="st2" cx="29.2" cy="25.9" r="1.8"></circle>
                <circle class="st2" cx="10.4" cy="25.9" r="1.8"></circle>
                <circle class="st2" cx="24.5" cy="21.2" r="1.8"></circle>
                <circle class="st2" cx="15.1" cy="21.2" r="1.8"></circle>
                <circle class="st2" cx="24.5" cy="30.6" r="1.8"></circle>
                <circle class="st2" cx="15.1" cy="30.6" r="1.8"></circle>
                </g>
            </svg>
                </div>
                <div class="selected-items-count ng-binding">
                    {{enforcementCtrl.selectedArray.length}} selected
                </div>
            </div>

            <div class="report-btn-group">
                <div>
                    <a class="sidebar-btn start-enforcement GENUINE">
                        Genuine
                    </a>
                    <a class="sidebar-btn start-enforcement INFRINGING">
                        Infringement
                    </a>
                    <a class="sidebar-btn start-enforcement IRRELEVANT">
                        Irrelevant
                    </a>
                    <a class="sidebar-btn start-enforcement UNABLE_TO_DETERMINE">
                        Unable to determine
                    </a>
                </div>
                <hr>
                <div>
                    <a class="sidebar-btn start-enforcement UNABLE_TO_DETERMINE">
                        No enforcement required
                    </a>
                    <a class="sidebar-btn start-enforcement UNABLE_TO_DETERMINE">
                        Queued for manual enforcement
                    </a>
                    <a class="sidebar-btn start-enforcement UNABLE_TO_DETERMINE">
                        Enforced
                    </a>
                    <a class="sidebar-btn start-enforcement UNABLE_TO_DETERMINE">
                        Cancelled
                    </a>
                </div>
            </div>

            <div class="" ng-show="enforcementCtrl.selectedArray.length == 1">
                <div class="sidebar-title">
                    Information
                    <a class="sidebar-minimize"
                       ng-class="{'minimized': !enforcementCtrl.showAccInfo}"
                       ng-click="enforcementCtrl.showAccInfo =! enforcementCtrl.showAccInfo"></a>
                </div>
                <table class="table" ng-if="enforcementCtrl.showAccInfo">
                    <tbody>
                        <tr>
                            <td>Brand</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].brand}}</td>
                        </tr>
                        <tr>
                            <td>Platform</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].platform}}</td>
                        </tr>
                        <tr>
                            <td>Profile name</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].profileName}}</td>
                        </tr>
                        <tr>
                            <td>Profile ID</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].profileId}}</td>
                        </tr>
                        <tr>
                            <td>Profile URL</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].profileURL}}</td>
                        </tr>
                        <tr>
                            <td>Profile Followers</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].profileFollowers}}</td>
                        </tr>
                        <tr>
                            <td>Profile views</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].profileViews}}</td>
                        </tr>
                        <tr>
                            <td>Profile likes</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].profileLikes}}</td>
                        </tr>
                        <tr>
                            <td>Listing ID</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].listingId}}</td>
                        </tr>
                        <tr>
                            <td>Listing URL</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].listingURL}}</td>
                        </tr>
                        <tr>
                            <td>Evidence URL</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].evidenceURL}}</td>
                        </tr>
                        <tr>
                            <td>Listing title</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].listingTitle}}</td>
                        </tr>
                        <tr>
                            <td>Listing description</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].listingDescription}}</td>
                        </tr>
                        <tr>
                            <td>Listing image URL</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].listingImageURL}}</td>
                        </tr>
                        <tr>
                            <td>Detection date</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].detectionDate}}</td>
                        </tr>
                        <tr>
                            <td>Post likes / shares</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].postLikes}}</td>
                        </tr>
                        <tr>
                            <td>Post followers</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].postFollowers}}</td>
                        </tr>
                        <tr>
                            <td>Post views</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].postViews}}</td>
                        </tr>
                        <tr>
                            <td>Connected to</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].connectedTo}}</td>
                        </tr>
                        <tr>
                            <td>Product</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].product}}</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].country}}</td>
                        </tr>
                        <tr>
                            <td>Mark of content</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].markOfContent}}</td>
                        </tr>
                        <tr>
                            <td>Infringement type</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].infringementType}}</td>
                        </tr>
                        <tr>
                            <td>Enforcement status</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].enforcementStatus}}</td>
                        </tr>
                        <tr>
                            <td>Escalation status</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].escalationStatus}}</td>
                        </tr>
                        <tr>
                            <td>Reported date</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].reportedDate}}</td>
                        </tr>
                        <tr>
                            <td>Removed date</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].removedDate}}</td>
                        </tr>
                        <tr>
                            <td>Account status</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].accountStatus}}</td>
                        </tr>
                        <tr>
                            <td>Submitted by</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].submittedBy}}</td>
                        </tr>
                        <tr>
                            <td>Comments</td>
                            <td class="ng-binding">{{enforcementCtrl.genericList[enforcementCtrl.selectedArray[0]].comments}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--pagination-->
        <div class="action-block page-content-col" style="background-color: inherit"
             ng-class="{'list-with-details' : enforcementCtrl.selectedArray.length && enforcementCtrl.isShowDetailsBox}">
            <ul pagination
                total-items="enforcementCtrl.totalCount"
                ng-model="enforcementCtrl.page"
                items-per-page="50"
                max-size="7"
                ng-change="enforcementCtrl.changePage()"
                class="pagination-sm"
                boundary-links="true"
                force-ellipses="true"></ul>

        </div>
    </div>
</div>

<!--<ng-csv-import separator="enforcementCtrl.separator"-->
               <!--result="enforcementCtrl.result"-->
               <!--callback="enforcementCtrl.callback"></ng-csv-import>-->

<!--<div style="overflow: scroll">-->

    <!--<table class="table-csv">-->
        <!--<tr class="thead-csv">-->
            <!--<th ng-repeat="(key, data) in enforcementCtrl.csvList[0]">-->
                <!--<input type="checkbox"-->
                       <!--id="columns-name-{{key}}"-->
                       <!--class="form-control input-sm ng-pristine ng-untouched ng-valid">-->
                <!--<label for="columns-name-{{key}}">{{key}}</label>-->
            <!--</th>-->
        <!--</tr>-->
        <!--<tr class="thead-csv">-->
            <!--<th ng-repeat="(key, data) in enforcementCtrl.csvList[0]">-->
                <!--<select style="width: 100%">-->
                    <!--<option ng-repeat="name in enforcementCtrl.propertiesName" value="{{name.id}}">{{name.name}}</option>-->
                <!--</select>-->
            <!--</th>-->
        <!--</tr>-->
        <!--<tr ng-repeat="json in enforcementCtrl.csvList" class="tbody-csv">-->
            <!--<td><input ng-model="json.policyID"></td>-->
            <!--<td><input ng-model="json.statecode"></td>-->
            <!--<td><input ng-model="json.county"></td>-->
            <!--<td><input ng-model="json.eq_site_limit"></td>-->
            <!--<td><input ng-model="json.hu_site_limit"></td>-->
            <!--<td><input ng-model="json.fl_site_limit"></td>-->
            <!--<td><input ng-model="json.fr_site_limit"></td>-->
            <!--<td><input ng-model="json.tiv_2011"></td>-->
            <!--<td><input ng-model="json.tiv_2012"></td>-->
            <!--<td><input ng-model="json.eq_site_deductible"></td>-->
            <!--<td><input ng-model="json.hu_site_deductible"></td>-->
            <!--<td><input ng-model="json.fl_site_deductible"></td>-->
            <!--<td><input ng-model="json.fr_site_deductible"></td>-->
            <!--<td><input ng-model="json.point_latitude"></td>-->
            <!--<td><input ng-model="json.point_longitude"></td>-->
            <!--<td><input ng-model="json.line"></td>-->
            <!--<td><input ng-model="json.construction"></td>-->
            <!--<td><input ng-model="json.point_granularity"></td>-->
        <!--</tr>-->
    <!--</table>-->
    <!--<div>-->
        <!--<h3 style="display: inline-block" ng-click="enforcementCtrl.paginationList(0, 10)">1</h3>-->
        <!--<h3 style="display: inline-block" ng-click="enforcementCtrl.paginationList(10, 20)">2</h3>-->
        <!--<h3 style="display: inline-block" ng-click="enforcementCtrl.paginationList(20, 30)">3</h3>-->
        <!--<h3 style="display: inline-block" ng-click="enforcementCtrl.paginationList(30, 40)">4</h3>-->
        <!--<h3 style="display: inline-block" ng-click="enforcementCtrl.paginationList(40, 50)">5</h3>-->
        <!--<h3 style="display: inline-block" ng-click="enforcementCtrl.paginationList(50, 60)">6</h3>-->
        <!--<h3 style="display: inline-block" ng-click="enforcementCtrl.paginationList(60, 70)">7</h3>-->
    <!--</div>-->
<!--</div>-->