<div class="page-content post-content">
    <div class="container-fluid enforcement-app-container ng-scope">

        <div class="action-block text-center action-title">
            <h3>Submit a post</h3>
        </div>

        <div class="page-content-col" style="background-color: #fff;overflow:auto;">
            <form class="post-form" name="postForm" ng-submit="postCtrl.submit()">

                <div class="form-group">
                    <label>Brand <span>*</span></label>
                    <div class="btn-group" dropdown keyboard-nav>
                        <button type="button" class="btn btn-default" dropdown-toggle>
                            {{postCtrl.dropdownTitle.brand || "Select "}}  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                            <li role="menuitem" ng-repeat="brand in postCtrl.brandList"
                                ng-click="postCtrl.dropdownListener(brand, 'brand')"><a>{{brand.title}}</a></li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label>Platform <span>*</span></label>
                    <div class="btn-group" dropdown keyboard-nav>
                        <button type="button" class="btn btn-default" dropdown-toggle>
                            {{postCtrl.dropdownTitle.platform || "Select "}}  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                            <li role="menuitem" ng-repeat="platform in postCtrl.platformList"
                                ng-click="postCtrl.dropdownListener(platform, 'platform')"><a>{{platform.title}}</a></li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label for="profileName">Profile name</label>
                    <input id="profileName" class="form-control input-sm" ng-model="postCtrl.postData.profileName" type="text">
                </div>

                <div class="form-group">
                    <label for="profileId">Profile ID</label>
                    <input id="profileId" class="form-control input-sm" ng-model="postCtrl.postData.profileId" type="text">
                </div>

                <div class="form-group">
                    <label for="profileURL">Profile URL</label>
                    <input id="profileURL" class="form-control input-sm" ng-model="postCtrl.postData.profileURL" type="text">
                </div>

                <div class="form-group">
                    <label for="profileFollowers">Profile Followers</label>
                    <input id="profileFollowers" class="form-control input-sm"
                           ng-model="postCtrl.postData.profileFollowers"
                           min="0"
                           type="number">
                </div>

                <div class="form-group">
                    <label for="profileViews">Profile views</label>
                    <input id="profileViews" class="form-control input-sm"
                           ng-model="postCtrl.postData.profileViews"
                           min="0"
                           type="number">
                </div>

                <div class="form-group">
                    <label for="profileLikes">Profile likes</label>
                    <input id="profileLikes" class="form-control input-sm"
                           ng-model="postCtrl.postData.profileLikes"
                           min="0"
                           type="number">
                </div>

                <div class="form-group">
                    <label for="listingId">Listing ID</label>
                    <input id="listingId" class="form-control input-sm"
                           ng-model="postCtrl.postData.listingId" type="text">
                </div>

                <div class="form-group">
                    <label for="listingURL">Listing URL <span>*</span></label>
                    <input id="listingURL" class="form-control input-sm"
                           ng-model="postCtrl.postData.listingURL" type="text">
                </div>

                <div class="form-group">
                    <label for="evidenceURL">Evidence URL</label>
                    <input id="evidenceURL" class="form-control input-sm"
                           ng-model="postCtrl.postData.evidenceURL" type="text">
                </div>

                <div class="form-group">
                    <label for="listingTitle">Listing title</label>
                    <input id="listingTitle" class="form-control input-sm"
                           ng-model="postCtrl.postData.listingTitle" type="text">
                </div>

                <div class="form-group">
                    <label for="listingDescription">Listing description</label>
                    <textarea id="listingDescription" class="form-control input-sm"
                              ng-model="postCtrl.postData.listingDescription" type="text"></textarea>
                </div>

                <div class="form-group">
                    <label for="listingImageURL">Listing image URL</label>
                    <input id="listingImageURL" class="form-control input-sm image-load"
                           placeholder="https://"
                           ng-model="postCtrl.postData.listingImageURL" type="text">
                </div>
                <!--upload from computer-->
                <!--<div class="form-group">-->
                <!--<label for="listingImageURL">Listing image URL</label>-->
                <!--<div class="inner-addon left-addon">-->
                <!--<i class="glyphicon glyphicon-open"></i>-->
                <!--<input id="listingImageURL" class="form-control input-sm image-load"-->
                <!--ng-model="postCtrl.postData.listingImageURL" type="text">-->
                <!--</div>-->
                <!--</div>-->

                <div class="form-group datepicker-block">
                    <label for="detectionDate">Detection date <span>*</span></label>
                    <div id="detectionDate">
                        <p class="input-group">
                            <input type="date" class="form-control" datepicker-popup
                                   show-weeks="false"
                                   ng-model="postCtrl.postData.detectionDate"
                                   is-open="postCtrl.datepickerOptions.open1"
                                   ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default datepicker-btn"
                                        ng-click="postCtrl.datepickerOptions.open('open1')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="postLikes">Post likes / shares</label>
                    <input id="postLikes" class="form-control input-sm"
                           ng-model="postCtrl.postData.postLikes"
                           min="0"
                           type="number">
                </div>

                <div class="form-group">
                    <label for="postFollowers">Post followers</label>
                    <input id="postFollowers" class="form-control input-sm"
                           ng-model="postCtrl.postData.postFollowers"
                           min="0"
                           type="number">
                </div>

                <div class="form-group">
                    <label for="postViews">Post views</label>
                    <input id="postViews" class="form-control input-sm"
                           ng-model="postCtrl.postData.postViews"
                           min="0"
                           type="number">
                </div>

                <div class="form-group">
                    <label for="connectedTo">Connected to</label>
                    <input id="connectedTo" class="form-control input-sm" ng-model="postCtrl.postData.connectedTo" type="text">
                </div>

                <div class="form-group">
                    <label for="product">Product</label>
                    <div ng-dropdown-multiselect="" id="product"
                         extra-settings="{'displayProp': 'title'}"
                         options="postCtrl.productList" selected-model="postCtrl.postData.product"></div>
                </div>

                <div class="form-group">
                    <label>Country</label>
                    <div class="btn-group" dropdown keyboard-nav>
                        <button type="button" class="btn btn-default" dropdown-toggle>
                            {{postCtrl.dropdownTitle.country || "Select "}}  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                            <li role="menuitem" ng-repeat="country in postCtrl.countryList"
                                ng-click="postCtrl.dropdownListener(country, 'country')"><a>{{country.title}}</a></li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label>Mark of content <span>*</span></label>
                    <div class="btn-group" dropdown keyboard-nav>
                        <button type="button" class="btn btn-default" dropdown-toggle>
                            {{postCtrl.dropdownTitle.markOfContent || "Select "}}  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                            <li role="menuitem" ng-repeat="mark in postCtrl.markOfContentList"
                                ng-click="postCtrl.dropdownListener(mark, 'markOfContent')"><a>{{mark.title}}</a></li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label>Infringement type <span>*</span></label>
                    <div class="btn-group" dropdown keyboard-nav>
                        <button type="button" class="btn btn-default" dropdown-toggle>
                            {{postCtrl.dropdownTitle.infringementType || "Select "}}  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                            <li role="menuitem" ng-repeat="infringementType in postCtrl.infringementTypeList"
                                ng-click="postCtrl.dropdownListener(infringementType, 'infringementType')">
                                <a>{{infringementType.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label>Enforcement status <span>*</span></label>
                    <div class="btn-group" dropdown keyboard-nav>
                        <button type="button" class="btn btn-default" dropdown-toggle>
                            {{postCtrl.dropdownTitle.enforcementStatus || "Select "}}  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                            <li role="menuitem" ng-repeat="enforcementStatus in postCtrl.enforcementStatusList"
                                ng-click="postCtrl.dropdownListener(enforcementStatus, 'enforcementStatus')">
                                <a>{{enforcementStatus.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label>Escalation status <span>*</span></label>
                    <div class="btn-group" dropdown keyboard-nav>
                        <button type="button" class="btn btn-default" dropdown-toggle>
                            {{postCtrl.dropdownTitle.escalationStatus || "Select "}}  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                            <li role="menuitem" ng-repeat="escalationStatus in postCtrl.escalationStatusList"
                                ng-click="postCtrl.dropdownListener(escalationStatus, 'escalationStatus')">
                                <a>{{escalationStatus.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group datepicker-block">
                    <label for="reportedDate">Reported date</label>
                    <div id="reportedDate">
                        <p class="input-group">
                            <input type="date" class="form-control" datepicker-popup
                                   show-weeks="false"
                                   ng-model="postCtrl.postData.reportedDate"
                                   is-open="postCtrl.datepickerOptions.open2"
                                   close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default datepicker-btn"
                                        ng-click="postCtrl.datepickerOptions.open('open2')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="form-group datepicker-block">
                    <label for="removedDate">Removed date</label>
                    <div id="removedDate">
                        <p class="input-group">
                            <input type="date" class="form-control" datepicker-popup
                                   show-weeks="false"
                                   ng-model="postCtrl.postData.removedDate"
                                   is-open="postCtrl.datepickerOptions.open3"
                                   close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default datepicker-btn"
                                        ng-click="postCtrl.datepickerOptions.open('open3')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label>Account status <span>*</span></label>
                    <div class="btn-group" dropdown keyboard-nav>
                        <button type="button" class="btn btn-default" dropdown-toggle>
                            {{postCtrl.dropdownTitle.accountStatus || "Select "}}  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                            <li role="menuitem" ng-repeat="accountStatus in postCtrl.accountStatusList"
                                ng-click="postCtrl.dropdownListener(accountStatus, 'accountStatus')">
                                <a>{{accountStatus.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label for="submittedBy">Submitted by</label>
                    <input id="submittedBy" class="form-control input-sm"
                           ng-model="postCtrl.postData.submittedBy" type="text">
                </div>

                <div class="form-group">
                    <label for="succesfull">Notify when enforcement succesfull</label>
                    <input id="succesfull" class="form-control input-sm"
                           ng-model="postCtrl.postData.succesfull" type="checkbox">
                </div>

                <div class="form-group">
                    <label for="comments">Comments</label>
                    <textarea id="comments" class="form-control input-sm"
                              ng-model="postCtrl.postData.comments"></textarea>
                </div>

            </form>
            <hr>
            <div class="btn-panel">
                <!--<input class="btn btn-success" ng-click="postCtrl.submit()" value="Submit" ng-disabled="postForm.$invalid">-->
                <button class="btn btn-success"
                        ng-click="postCtrl.submit()"
                        ng-disabled="postForm.$invalid || postCtrl.validateForm()">
                    Submit
                </button>
                <button class="btn btn-default" ng-click="postCtrl.clear()">Reset</button>
            </div>
        </div>

    </div>
</div>